@page "/Data/{id:int?}"
@model Ginseng.Mvc.Pages.Data.IndexModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<div class="row">
    <div class="col-3">

    </div>
    <div class="col-9">
        <div class="lead justify-content-between">
            <i class="far fa-database"></i>
            <span>@Html.CurrentAppName()</span>            
            <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@(Model?.CurrentModel?.Name ?? "no model selected")</button>
            <div class="dropdown-menu">
                @foreach (var dm in Model.ModelSelect)
                {
                    <a asp-route-modelId="@dm.Value" class="dropdown-item">@dm.Text</a>
                }
            </div>
            <a asp-page="/Setup/DataModels" asp-route-appId="@Html.CurrentAppId()">
                <i class="fas fa-cog"></i>
            </a>
        </div>
        @Html.ActionAlert(TempData)
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-3">
        <form method="post" asp-page-handler="AddClass" class="form-inline mt-2">
            <div class="row">
                <input type="hidden" name="DataModelId" value="@Model.ModelId"/>
                <input type="text" name="Name" required="required" class="form-control-sm form-control mr-2" placeholder="add model class"/>
                <button class="btn btn-dark btn-sm">Add</button>
            </div>
        </form>

        <div class="list-group mt-3">                        
            @foreach (var c in Model.ModelClasses)
            {
                var activeClass = (c.Id == Model.Id) ? "active" : string.Empty;
                <a class="list-group-item list-group-item-secondary list-group-item-action @activeClass" asp-route-id="@c.Id">
                    <i class="fal fa-table mr-2"></i>
                    @c.Name
                </a>
            }
        </div>
    </div>

    <div class="col-9">
        @if (Model.CurrentClass ==  null)
        {
            <h5>(no class selected)</h5>
        }
        else
        {
            <h5>
                <i class="fal fa-table mr-2"></i>
                <span class="editable" id="class-id-@Model.CurrentClass.Id">@Model.CurrentClass.Name</span>
                <span class="small text-muted">
                @{ 
                    var keyProps = Model.Properties.Where(p => p.InPrimaryKey);
                    if (keyProps.Any())
                    {
                        <i class="fal fa-key"></i>
                        <span>@(string.Join(", ", keyProps.Select(p => p.Name)))</span>
                    }
                }
                </span>
            </h5>
            @await Html.PartialAsync("Shared/_HtmlEditor", new HtmlEditorView() { Id = Model.Id, IdPrefix = "model-class", PostUrl = "/Update/ModelClassBody", Content = Model.CurrentClass.HtmlBody })
         
            var grid = new GridEditor<ModelProperty>(this, Xsrf, defaults: new { ModelClassId = Model.CurrentClass.Id, Position = Model.Properties.Count() + 1 });            
            <table class="table mt-2">
                <tr>
                    <th title="Part of Primary Key">PK</th>
                    <th>Property Name</th>
                    <th>Type</th>
                    <th title="Nullable">N</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                @foreach (var p in Model.Properties)
                {
                    <tr id="@grid.RowId(p)">
                        <td>@grid.CheckBox(m => m.InPrimaryKey)</td>
                        <td>@grid.TextBox(m => m.Name, new { @class = "form-control-sm", autocomplete = "off" })</td>
                        <td>
                            @grid.DropDownList(m => m.TypeId, Model.DataTypeSelect, new { @class = "form-control-sm" })
                            @if (!p.IsScalarType)
                            {
                                <a asp-route-id="@p.TypeId">
                                    <i class="fas fa-chevron-double-right"></i>
                                </a>
                            }                            
                        </td>
                        <td>@grid.CheckBox(m => m.IsNullable)</td>
                        <td>@grid.TextBox(m => m.Description, new { @class = "form-control-sm", autocomplete = "off" })</td>
                        <td>@grid.Controls()</td>
                    </tr>
                }
                <tr id="@grid.NewRowId()">
                    <td>@grid.CheckBox(m => m.InPrimaryKey)</td>
                    <td>@grid.TextBox(m => m.Name, new { @class = "form-control-sm", autocomplete = "off" })</td>
                    <td>@grid.DropDownList(m => m.TypeId, Model.DataTypeSelect, new { @class = "form-control-sm" })</td>
                    <td>@grid.CheckBox(m => m.IsNullable)</td>
                    <td>@grid.TextBox(m => m.Description, new { @class = "form-control-sm", autocomplete = "off" })</td>
                    <td>@grid.Controls()</td>
                </tr>
            </table>
            @grid.HandlerForms("SaveProperty", "DeleteProperty")

            @if (!Model.Properties.Any() && Model.CurrentClass != null)
            {
                <form method="post" asp-page-handler="DeleteClass">
                    <input type="hidden" name="Id" value="@Model.CurrentClass.Id"/>
                    <button class="btn btn-danger">Delete Model Class</button>
                </form>
            }

            @if (Model.Children.Any())
            {
                <h6>Child Classes</h6>
                <ul>
                    @foreach (var child in Model.Children)
                    {
                        <li>
                            <a asp-route-id="@child.ClassId">@child.ClassName</a> 
                                <span>@child.PropertyName</span>
                                <span class="small text-muted">
                                @if (child.RelationshipType == RelationshipType.OneToOne)
                                {
                                    <text>one-to-one</text>
                                }
                                else
                                {
                                    <text>one-to-many</text>
                                }
                            </span>
                        </li>
                    }
                </ul>
            }
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/Dashboard.js"></script>
    <script src="~/js/GridEditor.js"></script>
    <script>
        $(document).ready(function () {
            $('.editable').editable('/Update/ModelClassName', {
                id: 'elementId',
                name: 'newName'
            });
        })
    </script>
}