@page "/WorkItem/View/{id}"
@model Ginseng.Mvc.Pages.WorkItem.ViewModel
@{
    ViewData["Title"] = "Work Item";
    var cardView = new WorkItemCardView() { WorkItem = Model.Item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.SelectedLabels[Model.Item.Id], UserId = Model.UserId, Comments = Model.Comments[Model.Item.Id], ShowDetailsButton = false, AssignToUsers = Model.AssignToUsers, CommentBoxOpen = true, LocalTime = Model.LocalTime };
}

<div class="row">
    <div class="col-2 text-right">
        <h2>
            <partial name="/Pages/Dashboard/Items/_ItemNumber.cshtml" model="Model.Item" />
        </h2>
    </div>
    <div class="col-10">
        <h2><span class="editable" id="title-@Model.Item.Number" data-url="/Update/WorkItemTitle">@Model.Item.Title</span></h2>
    </div>
</div>

<div class="row mb-2">
    <div class="col-2"></div>
    <div class="col-8">
        <partial name="Dashboard/Items/_LabelControls" model="cardView" />
    </div>
    <div class="col-2">
        <partial name="/Pages/Dashboard/Items/_Status.cshtml" model="cardView" />
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <partial name="/Pages/Dashboard/Items/_ItemInner.cshtml" model="cardView" />
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        @if (Model.Attachments.Any())
        {
            <ul>
                @foreach (var att in Model.Attachments)
                {
                    <li class="mb-2">
                        <a href="@att.Url" target="_blank">@att.DisplayName</a>
                        @if (att.AllowDelete)
                        {
                            <form method="post" asp-page-handler="DeleteAttachment" class="d-inline-block">
                                <input type="hidden" name="Id" value="@att.Id" />
                                <button class="btn btn-sm" onclick="return confirm('This will delete the attachment.')">Delete...</button>
                            </form>
                        }
                    </li>
                }
            </ul>
            <a asp-page-handler="DownloadAllAttachments" class="btn btn-light btn-sm mb-4">Download All Attachments</a>
        }

        <form asp-controller="Upload" asp-action="Attachment" method="post" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@Model.Item.Number" />
            <input type="hidden" name="FolderName" value="WorkItems" />
            <input type="file" name="file" required="required"/>
            <button class="btn btn-light" type="submit">Upload</button>
        </form>
        <hr />
    </div>
</div>

<div class="row mb-2">
    <div class="col-2"></div>
    <div class="col-10">
        <span class="text-muted small">
            Created by @Model.Item.CreatedByName on @Model.Item.DateCreated
        </span>
    </div>
</div>

@*activity feed*@

@section Scripts {
    <script src="~/js/MultiSelect.js"></script>
    <script src="~/js/Dashboard.js"></script>    
}