@model TicketRowView

@if (Model.PageModel.TeamId != 0)
{
    <td><input type="checkbox" name="ticketId[@Model.RowIndex]" value="@Model.Ticket.Id" class="selectTicket" /></td>
}
<td>@Model.Ticket.Id</td>
<td>
    <a href="@Model.FreshdeskUrl/a/contacts/@Model.Ticket.RequesterId" target="_blank">@Model.PageModel.GetContactName(Model.Ticket.RequesterId)</a>
    @if (Model.Ticket.CompanyId.HasValue)
    {
        <br />
        <a href="@Model.FreshdeskUrl/a/companies/@Model.Ticket.CompanyId.Value" target="_blank">@Model.PageModel.GetCompanyName(Model.Ticket.CompanyId.Value)</a>
    }
</td>
<td>
    <a href="@Model.FreshdeskUrl/a/tickets/@Model.Ticket.Id" target="_blank" data-ticket-id="@Model.Ticket.Id" class="fd-ticket-tooltip">
        @if (Model.Ticket.Type != null)
        {
            <span class="badge @Model.PageModel.GetTypeBadge(Model.Ticket.Type)">@Model.Ticket.Type</span>
        }
        <span>@Model.Ticket.Subject</span>
        @if (Model.Ticket.GroupId.HasValue)
        {
            <strong>@Model.PageModel.Groups[Model.Ticket.GroupId.Value].Name</strong>
        }
        @if (Model.Ticket.Spam)
        {
            <span class="badge badge-dark">Spam</span>
        }
    </a>
</td>
<td>@Model.Ticket.CreatedAt.DateTime</td>