@page
@model Ginseng.Mvc.Pages.Tickets.IndexModel

@{
    ViewData["Title"] = "New Tickets";
}

<p>Use this to generate work items, or route elsewhere as needed.</p>

@{ int index = 0; }

<table class="table">
    <tr>
        @if (Model.TeamId != 0)
        {
            <th></th>
        }
        <th>Id</th>
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
        <th>
            New Work Item
            <br />
            <span class="text-muted small">
                @Model.GetWorkItemCreateMessage()
            </span>
        </th>
    </tr>
    @foreach (var item in Model.Tickets)
    {
        <tr>
            <partial name="_TicketRow" model="@(new TicketRowView() { PageModel = Model, Ticket = item, RowIndex = index, FreshdeskUrl = Model.FreshdeskUrl })" />
            <td>
                <form method="post" asp-page-handler="DoAction" class="form-inline">
                    <input type="hidden" name="ticketId" value="@item.Id" />
                    <input type="hidden" name="teamId" value="@Model.TeamId" />
                    <input type="hidden" name="objectType" value="@Model.ActionObjectType" />
                    <div class="input-group">
                        <select name="objectId" id="objectId" asp-items="Model.GetActionSelect(item.CompanyId ?? 0)" class="form-control mr-2" required="required">
                            <option value="">(select)</option>
                        </select>
                        <button type="submit" class="btn btn-sm btn-primary">Go</button>
                    </div>
                </form>
            </td>
        </tr>
        index++;
    }
</table>

@if (Model.TeamId != 0)
{
    <form method="post" asp-page-handler="IgnoreSelected">
        <input type="hidden" name="ticketIds" id="ticketIds" />
        <input type="hidden" name="teamId" value="@Model.TeamId" />
        <button class="btn btn-primary">Ignore Selected</button>
    </form>
}

<p>loaded from: @Model.LoadedFrom as of @Model.DateQueried UTC</p>

@section Scripts {
    <script type="text/javascript">
        $('.selectTicket').on('change', function () {
            var selected = [];
            $('.selectTicket').each(function () {
                if ($(this).prop('checked')) {
                    selected.push($(this).val());
                }
            });
            $('#ticketIds').val(selected.join(','));
        });
    </script>
}