@page
@model Ginseng.Mvc.Pages.Tickets.IndexModel

@{ 
    ViewData["Title"] = "Freskdesk Ticket Triage";
}

<h3>Freshdesk Ticket Triage</h3>
<p>Use this to generate work items, or route elsewhere as needed.</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Subject</th>
        <th>Date</th>
    </tr>
    @foreach (var item in Model.Tickets)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Subject</td>
            <td>@item.CreatedAt.DateTime</td>
        </tr>
    }
</table>

<p>loaded from: @Model.LoadedFrom as of @Model.DateQueried</p>