@page
@model Ginseng.Mvc.Pages.Tickets.IndexModel

@{ 
    ViewData["Title"] = "Freskdesk Ticket Triage";
}

<h3>Freshdesk Ticket Triage</h3>
<p>Use this to generate work items, or route elsewhere as needed. Select a responsibility below to see what's waiting for action for that responsibility.</p>

@if (Model.ResponsibilityId == 0)
{
    <p><strong>Tip</strong> To ignore tickets, please select a Responsibility below.</p>
}

@Html.ActionAlert(TempData)

<form method="get" class="form-inline">
    <div class="input-group mb-3">
        <label class="mr-2">Responsibility:</label>
        <select name="responsibilityId" asp-items="Model.ResponsibilitySelect" class="form-control" onchange="this.form.submit()" required="required">
            <option value="">all unassigned tickets</option>
        </select>
    </div>
</form>

@{ int index = 0; }

<table class="table">
    <tr>
        @if (Model.ResponsibilityId != 0)
        {
            <th></th>
        }        
        <th>Id</th>
        <th>Subject</th>
        <th>Date</th>
        <th>New Work Item</th>
    </tr>
    @foreach (var item in Model.Tickets)
    {
        <tr>
            @if (Model.ResponsibilityId != 0)
            {
                <td><input type="checkbox" name="ticketId[@index]" value="@item.Id" class="selectTicket"/></td>
            }            
            <td>@item.Id</td>
            <td>
                <a href="@Model.FreshdeskUrl/a/tickets/@item.Id" target="_blank">
                    @if (item.Type != null)
                    {
                        <span class="badge @Model.GetTypeBadge(item.Type)">@item.Type</span>
                    }
                    <span>@item.Subject</span>
                    @if (item.GroupId.HasValue)
                    {
                        <strong>@Model.Groups[item.GroupId.Value].Name</strong>
                    }                    
                    @if (item.Spam)
                    {
                        <span class="badge badge-dark">Spam</span>
                    }
                </a>
            </td>
            <td>@item.CreatedAt.DateTime</td>
            <td>                
                <form method="post" asp-page-handler="DoAction" class="form-inline">
                    <input type="hidden" name="ticketId" value="@item.Id"/>         
                    <input type="hidden" name="responsibilityId" value="@Model.ResponsibilityId"/>
                    <div class="input-group">
                        <select name="appId" id="appId" asp-items="Model.ActionSelect" class="form-control mr-2" required="required">
                            <option value="">(select)</option>
                        </select>
                        <button type="submit" class="btn btn-sm btn-primary">Go</button>                    
                    </div>
                </form>                
            </td>
        </tr>
        index++;
    }
</table>

@if (Model.ResponsibilityId != 0)
{
    <form method="post" asp-page-handler="IgnoreSelected">
        <input type="hidden" name="ticketIds" id="ticketIds"/>
        <input type="hidden" name="responsibilityId" value="@Model.ResponsibilityId"/>
        <button class="btn btn-primary">Ignore Selected</button>
    </form>
}

<p>loaded from: @Model.LoadedFrom as of @Model.DateQueried UTC</p>

@section Scripts {
    <script type="text/javascript">        
        $('.selectTicket').on('change', function () {
            var selected = [];
            $('.selectTicket').each(function () {
                if ($(this).prop('checked')) {
                    selected.push($(this).val());
                }
            });
            $('#ticketIds').val(selected.join(','));            
        });        
    </script>
}