@page
@model Ginseng.Mvc.Pages.Tickets.IndexModel

@{ 
    ViewData["Title"] = "Freskdesk Ticket Triage";
}

<h3>Freshdesk Ticket Triage</h3>
<p>Use this to generate work items, or route elsewhere as needed.</p>

@Html.ActionAlert(TempData)

<table class="table">
    <tr>
        <th>Id</th>
        <th>Subject</th>
        <th>Date</th>
        <th>New Work Item</th>
    </tr>
    @foreach (var item in Model.Tickets)
    {
        <tr>
            <td>@item.Id</td>
            <td>
                <a href="@Model.FreshdeskUrl/a/tickets/@item.Id" target="_blank">
                    @item.Type: @item.Subject
                    @if (item.GroupId.HasValue)
                    {
                        <strong>@Model.Groups[item.GroupId.Value].Name</strong>
                    }                    
                </a>
            </td>
            <td>@item.CreatedAt.DateTime</td>
            <td>                
                <form method="post" asp-page-handler="DoAction" class="form-inline">
                    <input type="hidden" name="ticketId" value="@item.Id"/>         
                    <div class="input-group">
                        <select name="appId" id="appId" asp-items="Model.ActionSelect" class="form-control mr-2" required="required">
                            <option value="">(select)</option>
                        </select>
                        <button type="submit" class="btn btn-sm btn-primary">Go</button>                    
                    </div>
                </form>                
            </td>
        </tr>
    }
</table>

<p>loaded from: @Model.LoadedFrom as of @Model.DateQueried UTC</p>