@model AppFilterView

@{ 
    string returnUrl = UriHelper.GetDisplayUrl(Html.ViewContext.HttpContext.Request);
}

<div class="dropdown">
    <button class="btn btn-light dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.CurrentAppName</button>
    <div class="dropdown-menu">
        @foreach (var item in Model.AppOptions)
        {
            <a asp-action="CurrentApp" asp-controller="Update" asp-route-id="@item.Value" asp-route-returnUrl="@returnUrl" class="dropdown-item">@item.Text</a>
        }
        <div class="dropdown-divider"></div>
        <a asp-action="CurrentApp" asp-controller="Update" asp-route-id="0" asp-route-returnUrl="@returnUrl" class="dropdown-item">Show All</a>
    </div>
</div>