@model HtmlEditorView

<div id="@Model.IdPrefix-view-@Model.Id" class="mt-4 mainItemBody xcomment-by-creator">
    @Html.Raw(Model.Content)
</div>


<div id="@Model.IdPrefix-edit-@Model.Id" style="display:none">
    <form>
        <input type="hidden" name="Id" value="@Model.Id" />
        @if (Model.PostFields != null)
        {
            foreach (var keyPair in Model.PostFields)
            {
                <input type="hidden" name="@keyPair.Key" value="@keyPair.Value" />
            }
        }
        <textarea name="HtmlBody" id="@(Model.IdPrefix)-content-@(Model.Id)" class="htmlEditor" data-id="@Model.UploadId" data-folder-name="@Model.UploadFolderName">@Model.Content</textarea>
        <button type="button" class="btn btn-sm btn-secondary my-2 saveHtmlEdit" data-id-prefix="@Model.IdPrefix" data-id="@Model.Id" data-post-url="@Model.PostUrl">Update</button>
        <a class="cancelHtmlEdit" href="#" data-id="@Model.Id" data-id-prefix="@Model.IdPrefix">Cancel</a>
    </form>
</div>

<div>
    <a class="editHtml btn btn-sm btn-light mr-2" href="#" data-id="@Model.Id" id="editHtmlLink-@Model.IdPrefix-@Model.Id" data-id-prefix="@Model.IdPrefix">Edit</a>
    
    @if (Model.CopyWorkItemLink)
    {
        <button class="btn btn-sm btn-light clipboard" data-clipboard-action="copy" data-clipboard-text="@Url.Action("View", "WorkItem", new { id = Model.OverrideId }, Html.ViewContext.HttpContext.Request.Scheme)" title="Copy work item URL">
            <i class="far fa-copy"></i>
        </button>
    }

    @if (Model.Notifications?.Any() ?? false)
    {
        <button class="btn btn-sm btn-light clear-notification" title="clear this notification" data-work-item-number="@Model.OverrideId">
            <i class="fas fa-check"></i>
            Mark as Read
        </button>
        <ul class="text-muted mt-2 small">
            @foreach (var notif in Model.Notifications)
            {
                <li class="notificationBody">@Html.Raw(notif.HtmlBody)</li>
            }
        </ul>
    }
</div>