@page
@model Ginseng.Mvc.Pages.Work.AllItemsModel
@{
    ViewData["Title"] = "All Items";
}

@if (Model.Query != null)
{
    <p class="text-center">Searched for: <strong>@Model.Query</strong></p>
}

@if (!Model.WorkItems.Any() && Html.CurrentAppId() != 0)
{
    @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
    {
        { "applicationId", Html.CurrentAppId() }        
    }))
}

<form method="get">
    <div class="form-row mb-3 justify-content-center">
        <input type="hidden" asp-for="@Model.Query"/>
        <select name="FilterProjectId" asp-items="@Model.Dropdowns.ProjectSelect(Model.CurrentOrgUser.CurrentAppId ?? 0, Model.FilterProjectId)" class="form-control-sm mr-2" onchange="this.form.submit();">
            <option value="">(all projects)</option>
        </select>
        <select name="FilterMilestoneId" asp-items="@Model.Dropdowns.MilestoneSelect(Model.FilterMilestoneId)" class="form-control-sm mr-2" onchange="this.form.submit();">
            <option value="">(all milestones)</option>
        </select>
        <select name="FilterSizeId" asp-items="@Model.Dropdowns.SizeSelect(Model.FilterSizeId)" class="form-control-sm" onchange="this.form.submit();">
            <option value="">(all sizes)</option>
        </select>
    </div>
</form>

<div id="accordion">
@foreach (var appGrp in Model.WorkItems.GroupBy(row => row.ApplicationId))
{
    <h4>@appGrp.First().ApplicationName</h4>
    @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
    {
        { "applicationId", appGrp.Key }                        
    }))
    foreach (var item in appGrp)
    {
        <partial name="Items/_Card" model="new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.SelectedLabels[item.Id], UserId = Model.UserId, Comments = Model.Comments[item.Id] }" />
    }
}
</div>

@if (Model.Projects?.Any() ?? false)
{
    <h5>Projects Found</h5>
    <ul>
        @foreach  (var prj in Model.Projects)
        {
            <li>
                <partial name="Dashboard/Items/_ProjectLinkButton" model="prj"/>
            </li>
        }
    </ul>
}