@page
@model Ginseng.Mvc.Pages.Work.FeedModel
@{
    ViewData["Title"] = "Feed";
}

<h4>Feed</h4>

@if (!Model.CurrentOrgUser.CurrentAppId.HasValue)
{
    <p>Please select an App above.</p>
    return;
}

<div class="row">
    <div class="col-3">
        <ul>
            @foreach (var ev in Model.Events)
            {
                <li>
                    <label>
                        @Html.CheckBox("Visible", Model.Subscriptions[ev.Id].Visible, new { @class = "update-event-subscription", data_id = ev.Id, data_appId = Model.CurrentOrgUser.CurrentAppId })
                        @ev.Name
                        <img src="~/img/loading.gif" style="display:none" />
                    </label>
                </li>
            }
        </ul>
    </div>

    <div class="col-9">
        @foreach (var dateGrp in Model.EventLogs.GroupBy(row => row.EventDate))
        {
            <h5>@Html.FormatValue(dateGrp.Key, "{0:ddd M/d}")</h5>
            <ul>
            @foreach (var ev in dateGrp)
            {
                <li>
                    <i class="@ev.IconClass" style="color:@ev.IconColor"></i>
                    <span class="font-weight-bold">@ev.WorkItemNumber</span>
                    <span>@ev.EventName</span>
                    <span>@ev.CreatedBy</span>
                    @ev.HtmlBody
                </li>
            }
            </ul>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/Feed.js"></script>
}