@page
@model Ginseng.Mvc.Pages.Work.FeedModel
@{
    ViewData["Title"] = "Feed";
}

<h4>Feed</h4>

@if (!Model.CurrentOrgUser.CurrentAppId.HasValue)
{
    <p>Please select an App above.</p>
    return;
}

<div class="row">
    <div class="col-3">        
        @foreach (var ev in Model.Events)
        {
            <p class="mb-0">
                <label class="small">
                    @Html.CheckBox("Visible", Model.Subscriptions[ev.Id].Visible, new { @class = "update-event-subscription", data_id = ev.Id, data_appId = Model.CurrentOrgUser.CurrentAppId })
                    @ev.Name
                    <a class=""></a>
                    <img src="~/img/loading.gif" style="display:none" />
                </label>
            </p>
        }      
        
        <a class="btn btn-sm btn-info" asp-page="Feed" style="display:none" onclick="$(this).hide();" id="btnRefresh">Refresh</a>
    </div>

    <div class="col-9">
        @foreach (var dateGrp in Model.EventLogs.GroupBy(row => row.EventDate))
        {
            <h5>@Html.FormatValue(dateGrp.Key, "{0:ddd M/d}")</h5>
            @foreach (var numberGrp in dateGrp.GroupBy(row => row.Number))
            {
                <div class="ml-4">
                    <div class="border-bottom mb-1">
                        <partial name="Dashboard/Items/_ItemNumber" model="numberGrp.First()"/>
                        <a asp-page="/WorkItem/View" asp-route-id="@numberGrp.First().Number">
                            <partial name="Dashboard/Items/_Title" model="numberGrp.First()"/>
                        </a>
                    </div>                                
                    <ul style="list-style:none">
                        @foreach (var ev in numberGrp)
                        {
                            <li>
                                <i class="@ev.IconClass" style="color:@ev.IconColor"></i>                    
                                <span>@(ev.DisplayName):</span>
                                @Html.Raw(@ev.HtmlBody)
                            </li>
                        }
                    </ul>
                </div>                
            }
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/Feed.js"></script>
}