@page
@model Ginseng.Mvc.Pages.Dashboard.MyItemsModel
@{
    ViewData["Title"] = "My Items";
}

<a asp-page="/Setup/AppActivities" class="btn btn-light btn-sm mb-3 mr-3">My Activities: @Model.MyHandOffActivityList()</a>

@if (Model.MyHandOffItems.Any())
{
    <button class="btn btn-sm btn-light mb-3" data-toggle="collapse" data-target="#handOffItems" aria-expanded="false" aria-controls="handOffItems">@Model.MyHandOffItems.Count() Paused Items</button>
    <div class="collapse" id="handOffItems">
        @foreach (var appGrp in Model.MyHandOffItems.GroupBy(row => row.ProjectParentId))
        {
            <h4>@appGrp.First().ProjectParentName</h4>
            @foreach (var milestoneGrp in appGrp.OrderBy(row => row.SortMilestoneDate).GroupBy(row => row.MilestoneId))
            {
                var milestoneItem = milestoneGrp.First();
                <partial name="Items/_MilestoneHeader" model="milestoneItem" />
                <div id="handOff-app-@appGrp.Key-@milestoneGrp.Key" class="milestone-items" data-milestone-id="@milestoneGrp.Key">
                    <div class="ml-3" data-user-id="@Model.UserId">
                        @foreach (var item in milestoneGrp)
                        {
                            <partial name="Items/_Card" model="@(new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.HandOffLabels[item.Id], UserId = Model.UserId, Comments = Model.HandOffComments[item.Id], AccordionElement = "handOffItems", AssignToUsers = Model.AssignToUsers })" />
                        }
                    </div>
                </div>
            }
        }
    </div>
}

@if (Model.MySchedule?.Any() ?? false)
{
    <partial name="Items/_MySchedule" model="Model"/>
}

<div id="accordion">
@foreach (var milestoneGrp in Model.WorkItems.OrderBy(row => row.SortMilestoneDate).GroupBy(row => row.MilestoneId))
{
    var milestoneItem = milestoneGrp.First();
    <partial name="Items/_MilestoneHeader" model="milestoneItem" />
   
    <div class="ml-3">
        <partial name="Items/_Load" model="Model.GetLoadView(milestoneGrp, (wd) => wd.UserId == Model.UserId)"/>
    </div>

    @foreach (var appGrp in milestoneGrp.GroupBy(row => row.ProjectParentId))
    {
        <h5 class="ml-3">@appGrp.First().ProjectParentName</h5>
        
        <div id="app-@appGrp.Key-@milestoneGrp.Key" class="milestone-items" data-milestone-id="@milestoneGrp.Key">            
            <div class="ml-3 sortable" data-user-id="@Model.UserId">
                @foreach (var item in appGrp)
                {
                    <partial name="Items/_Card" model="new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.SelectedLabels[item.Id], UserId = Model.UserId, Comments = Model.Comments[item.Id], AssignToUsers = Model.AssignToUsers }" />
                }

                @if (Model.CurrentOrgUser.DefaultActivityId.HasValue)
                {
                    @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
                    {
                        { "teamId", Html.CurrentTeamId() },
                        { "applicationId", appGrp.Key },
                        { "milestoneId", milestoneGrp.Key },
                        { Model.UserIdColumnName, Model.UserId },
                        { "activityId", Model.CurrentOrgUser.DefaultActivityId.Value }
                    }))
                }
                else
                {
                    <p>To add work items here, please set your Default Activity on the <a asp-page="/Setup/OrgUser">Org User</a> page.</p>
                }
            </div>                        
        </div>
    }
}
</div>

@if (!Model.WorkItems.Any() && Html.CurrentAppId() != 0)
{
    @if (Model.CurrentOrgUser.DefaultActivityId.HasValue)
    {
        @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
        {
            { "teamId", Html.CurrentTeamId() },
            { "applicationId", Html.CurrentAppId() },        
            { Model.UserIdColumnName, Model.UserId },
            { "activityId", Model.CurrentOrgUser.DefaultActivityId ?? 0 }
        }))
    }
    else
    {
        <p>To add work items here, please set your Default Activity on the <a asp-page="/Setup/OrgUser">Org User</a> page.</p>
    }
}