@page
@model Ginseng.Mvc.Pages.Work.MyWorkModel
@{
    ViewData["Title"] = "My Items";
}

@foreach (var actGrp in Model.WorkItems.GroupBy(row => row.ActivityId))
{
    <h3>@actGrp.First().ActivityName</h3>
    @foreach (var appGrp in actGrp.GroupBy(row => row.ApplicationId))
    {
        <h4>@appGrp.First().ApplicationName</h4>
        <table class="table mx-3">
            @foreach (var milestoneGrp in appGrp.OrderBy(row => row.MilestoneDate).GroupBy(row => row.MilestoneId))
            {
                var milestoneItem = milestoneGrp.First();
                <tr>
                    <td colspan="3">                            
                        <i class="fas fa-flag-checkered"></i>
                        <span class="font-weight-bold">@milestoneItem.MilestoneName</span>
                        @if (milestoneGrp.Key != 0)
                        {
                            <span>@Html.FormatValue(milestoneItem.MilestoneDate, "{0:ddd M/d}")</span>
                            <span class="text-muted">
                                @if (milestoneItem.MilestoneDaysAway > 0)
                                {
                                    <text>@milestoneItem.MilestoneDaysAway day(s) away</text>
                                }
                                else
                                {
                                    <text>today</text>
                                }
                            </span>
                        }
                    </td>
                </tr>
                @foreach (var projectGrp in milestoneGrp.GroupBy(row => row.ProjectId))
                {
                    if (projectGrp.Key != 0)
                    {
                    <tr>
                        <td colspan="3">
                            <span>@projectGrp.First().ProjectName</span>
                        </td>
                    </tr>
                    }
                    @foreach (var item in projectGrp)
                    {
                        <tr class="milestone-@milestoneGrp.Key-@appGrp.Key">
                            <td><partial name="Items/_Number" model="item"/></td>
                            <td><partial name="Items/_Title" model="item"/></td>                                                                
                            <td><partial name="Items/_Estimate" model="new DashboardEstimateField() { Item = item, Sizes = Model.Dropdowns.Sizes }"/></td>
                        </tr>
                    }
                }
            }            
        </table>
    }
}


