@page
@model Ginseng.Mvc.Pages.Dashboard.NewModel
@{
    ViewData["Title"] = "New";
}

<p>Use this to create new work items for the appropriate team.</p>

@if (!Model.Applications.Any())
{
    <p>Please select a team above, or click a team button below:</p>
    <ul class="">
        @foreach (var team in Model.Teams)
        {
            <li class="mb-3">
                <a asp-action="CurrentTeam" asp-controller="Update" asp-route-id="@team.Id" asp-route-returnUrl="/Dashboard/New" class="btn btn-secondary">@team.Name</a>
            </li>
        }
    </ul>
    return;
}

@if (Model.AppId == 0)
{
    <p>Please select an application below:</p>
    <ul>
        @foreach (var appOption in Model.Applications)
        {
            <li class="mb-3">
                <a asp-action="CurrentApp" asp-controller="Update" asp-route-id="@appOption.Id" asp-route-returnUrl="/Dashboard/New" class="btn btn-secondary">@appOption.Name</a>
            </li>
        }
    </ul>
    return;
}

@{ var app = Model.SelectedApp; }
<div id="accordion">
    <h4>@app.Name</h4>
    <div class="ml-3">
        <p>@app.Description</p>

        @if (!Model.Labels[app.Id].Any())
        {
            <p>Add one or more <a asp-page="/Setup/Labels">labels</a> to this application to enable work item entry,
                or make the <a asp-page="/Setup/Applications">application</a> inactive to remove it from this page.</p>
        }
        else
        {
            <ul class="nav nav-tabs" role="tablist">
            @foreach (var label in Model.Labels[app.Id].OrderBy(row => row.Name))
            {
                <li class="nav-item">
                    <a href="#team-@app.Id-label-@label.Id" data-toggle="tab" class="nav-link" id="tab-team-@app.Id-label-@label.Id">
                        @label.Name
                        <sup>@Model.GetAppLabelItems(app.Id, label.Id).Count()</sup>
                    </a>
                </li>
            }
            </ul>
            <div class="tab-content my-3" id="tabContent">
                @foreach (var label in Model.Labels[app.Id].OrderBy(row => row.Name))
                {
                    <div id="team-@app.Id-label-@label.Id" class="tab-pane fade" data-tab-id="tab-team-@app.Id-label-@label.Id" role="tabpanel">
                        <div class="ml-3">
                            <p>Add new <span class="badge" style="color:@label.ForeColor;background-color:@label.BackColor">@label.Name</span> item, will notify <strong>@Model.GetLabelNotifyUsers(label.Id)</strong></p>
                            @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
                            {
                                { "teamId", Model.TeamId },
                                { "applicationId", app.Id },
                                { "labelId", label.Id }
                            }) { Dropdowns = Model.Dropdowns, AssignToUsers = Model.AssignToUsers, UseApplications = Model.CurrentOrgUser.CurrentTeam.UseApplications })

                            @foreach (var item in Model.GetAppLabelItems(app.Id, label.Id))
                            {
                                <partial name="Items/_Card" model="new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.SelectedLabels[item.Id], UserId = Model.UserId, Comments = Model.Comments[item.Id], AssignToUsers = Model.AssignToUsers }" />
                            }
                        </div>

                        @if (Model.LabelInstructions.ContainsKey(label.Id))
                        {
                            <div class="mt-2">
                                <i class="far fa-info-circle"></i>
                                <span><a data-toggle="collapse" href="#instructions-@label.Id-@app.Id">Tips on writing a good @label.Name item</a></span>
                            </div>
                            <div class="collapse ml-3" id="instructions-@label.Id-@app.Id">
                                @Html.Raw(Model.LabelInstructions[label.Id].HtmlBody)
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>    
</div>