@page
@model Ginseng.Mvc.Pages.Work.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<div id="accordion">
    @foreach (var appGrp in Model.WorkItems.GroupBy(row => row.ApplicationId))
    {
        <h4>@appGrp.First().ApplicationName</h4>
        foreach (var projectGrp in appGrp.OrderBy(row => row.ProjectName).GroupBy(row => row.ProjectId))
        {
            var projectItem = projectGrp.First();
            <h5>
                <span class="badge badge-pill badge-secondary">@projectItem.ProjectName</span>
                @if (projectGrp.Key != 0)
                {
                    <span class="small"><a href="#" class="viewProjectBody small" data-project-id="@projectGrp.Key" data-project-has-body="@(!string.IsNullOrEmpty(Model.Projects[projectGrp.Key].HtmlBody))">View Details</a></span>
                }
            </h5>

            @if (projectGrp.Key != 0)
            {
                <div style="margin-left:20px">
                    @await Html.PartialAsync("Shared/_HtmlEditor", new HtmlEditorView() { Id = projectGrp.Key, IdPrefix = "project", PostUrl = "/Update/ProjectBody", Content = Model.Projects[projectGrp.Key].HtmlBody })
                </div>                
            }

            <div id="app-@appGrp.Key-@projectGrp.Key" class="milestone-items" data-milestone-id="@projectGrp.Key">
                <div style="margin-left:20px">
                    @foreach (var item in projectGrp)
                    {
                        <partial name="Items/_Card" model="new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.SelectedLabels[item.Id] }" />
                    }
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <script src="~/js/Projects.js"></script>
}