@model MultiSelector<Application>

<div style="display:inline-block">
    <button class="btn btn-light dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-1">Apps:</span>
        <span id="apps-@Model.RelatedId">
        @foreach (var item in Model.Items.Where(row => row.Selected))
        {
            <span class="mr-1">@item.Name</span>
        }
        </span>
    </button>
    <div class="dropdown-menu">
        @foreach (var app in Model.Items)
        {
            <form method="post">
                <input type="hidden" name="ApplicationId" value="@app.Id"/>
                <input type="hidden" name="LabelId" value="@Model.RelatedId"/>
                <a class="dropdown-item appCheckboxLink">
                    @Html.CheckBox("selected", app.Selected, new { @class = "appCheckbox", data_post_url = "/Update/NewItemAppLabel", data_selected_name_span = $"apps-{Model.RelatedId}" })
                    @app.Name
                </a>
            </form>                            
        }
    </div>
</div>
