@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.ActivitiesModel
@{
    ViewData["Title"] = "Activities";
}

<h4>Activities</h4>
<p>Use Activities to distinguish the different kinds of work done on Work Items. At minimum, this
    usually means <strong>Development</strong>, <strong>Testing</strong>, and <strong>Deployment</strong>.
    Use <a href="/Setup/AppActivities">My App Activities</a> to setup monitoring on Activities you normally do.</p>

<p>Use the <strong>Order</strong> column to define the forward path through your workflow. Use the <strong>Responsibility</strong>
    column to indicate which party is responsible for that activity.</p>

@Html.ActionAlert(TempData)

@{
    var grid = new GridEditor<Activity>(this, Xsrf, (record) => record.Id);
}

<table class="table">
    <tr>
        <th>Activity Name</th>
        <th>Description</th>
        <th>Responsibility</th>
        <th>Allow Start</th>
        <th>Order</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Activities)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
            <td>@grid.TextBox(m => m.Description, new { @class = "form-control" })</td>
            <td>@grid.DropDownList(m => m.ResponsibilityId, Model.ResponsibilitySelect, new { @class = "form-control" })</td>
            <td>@grid.CheckBox(m => m.AllowStart)</td>
            <td>@grid.TextBox(m => m.Order, new { @class = "form-control", style = "width:70px" })</td>
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
        <td>@grid.TextBox(m => m.Description, new { @class = "form-control" })</td>
        <td>@grid.DropDownList(m => m.ResponsibilityId, Model.ResponsibilitySelect, new { @class = "form-control" })</td>
        <td>@grid.CheckBox(m => m.AllowStart)</td>
        <td>@grid.TextBox(m => m.Order, new { @class = "form-control", style = "width:70px" })</td>
        <td>@grid.Controls()</td>
    </tr>
</table>
@grid.HandlerForms("Save", "Delete")

<h5>My Items Activity Order</h5>
<p>If you use Activity grouping on the My Items page, you can drag and drop the order of activities to your liking.</p>

<ul class="sortable">
    @foreach (var item in Model.UserOrder)
    {
        <li class="item-sortable" data-activity-id="@item.Id">@item.Name</li>
    }
</ul>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/adamosoftware/GridEditor.RazorPages@1.0.3/js/GridEditor.min.js"></script>
    <script>
        $('.sortable').sortable({
            placeholder: 'ui-state-highlight',
            update: function (event, ui) {
                var list = $(ui.item).parents('.sortable');
                var items = list.find('li');
                var array = [];
                $(items).each(function (index, item) {
                    array.push({
                        number: $(item).data('activity-id'),
                        index: index
                    });                    
                });

                fetch('/Update/UserActivityOrder', {
                    method: 'post',
                    headers: {
                        "Content-Type": "application/json",
                        "RequestVerificationToken": getAntiForgeryToken()
                    },
                    body: JSON.stringify({ items: array })
                }).then(function (response) {
                    // success fail info?
                    return response.json();
                });
            }
        })
    </script>
}