@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.ApplicationsModel
@{
    ViewData["Title"] = "Applications";
}

<h4>Applications</h4>
<p>Use Applications to define the different products your organization develops and supports.</p>

@Html.ActionAlert(TempData)

@{ 
    var grid = new GridEditor<Application>(this, Xsrf);    
}

<table class="table">
    <tr>
        <th>App Name</th>
        <th>Description</th>
        <th>URL</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Applications)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
            <td>@grid.TextBox(m => m.Description, new { @class = "form-control" })</td>            
            <td>@grid.TextBox(m => m.Url, new { @class = "form-control" })</td>                        
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
        <td>@grid.TextBox(m => m.Description, new { @class = "form-control" })</td>
        <td>@grid.TextBox(m => m.Url, new { @class = "form-control" })</td>
        <td>@grid.Controls()</td>
    </tr>
</table>
@grid.HandlerForms("Save", "Delete")

<form asp-page-handler="Save"></form>

@section Scripts {
    <script src="~/js/GridEditor.js"></script>
}