@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.DataModelsModel

<h4>Data Models</h4>

<p>Almost any app requires a database. Use Data Models to share vision and build consensus and knowledge about the database structures your applications rely on.
    This determines the overall direction, constraints, and long-term maintainability of your work.</p>

@Html.ActionAlert(TempData)

@{
    var grid = new GridEditor<DataModel>(this, Xsrf, (record) => record.Id, defaults: new { ApplicationId = Model.AppId });
}

<form method="get" class="form-inline mb-2">
    <label class="mr-2">Application:</label>
    <select name="AppId" class="form-control" asp-items="Model.AppSelect" onchange="this.form.submit();">
        <option>(select)</option>
    </select>
</form>

<table class="table">
    <tr>
        <th>Data Model Name</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model.DataModels)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
            <td><a asp-page="/Data/Index" asp-route-modelId="@item.Id">Manage</a></td>
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
        <td></td>
        <td>@grid.Controls()</td>
    </tr>
</table>
@grid.HandlerForms("Save", "Delete")

@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/adamosoftware/GridEditor.RazorPages@1.0.3/js/GridEditor.min.js"></script>
}