@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.MilestonesModel
@{
    ViewData["Title"] = "Milestones";
}

<h4>Milestones</h4>
<p>Use Milestones to define deadlines or any kind of due date or event, such as sprint dates, or perhaps customer-imposed deadlines.</p>

@Html.ActionAlert(TempData)

@{
    var grid = new GridEditor<Milestone>(this, Xsrf, defaults: new { ApplicationId = Model.AppId });
}

<form method="get" class="form-inline mb-2">
    <label class="mr-2">Application:</label>
    <select name="AppId" class="form-control" asp-items="Model.AppSelect" onchange="this.form.submit();">
        <option>(select)</option>
    </select>
</form>

@if (Model.AppId == 0)
{
    <p>Please select an app above.</p>
    return;
}

<table class="table">
    <tr>
        <th>Application</th>
        <th>Milestone Name</th>
        <th>Project</th>
        <th>Date</th>
        <th>Work Items</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Milestones)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.DropDownList(m => m.ApplicationId, Model.AppSelect, new { @class = "form-control" })</td>
            <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
            <td>@grid.DropDownList(m => m.ProjectId, Model.ProjectSelect, new { @class = "form-control" })</td>
            <td>@grid.TextBox(m => m.Date, new { @class = "form-control datepicker", autocomplete = "off" })</td>
            <td>
                @if ((item.OpenWorkItems ?? 0) > 0)
                {
                    <a asp-page="/Dashboard/AllItems" asp-route-filterMilestoneId="@item.Id">@item.OpenWorkItems open item</a>
                    if ((item.ClosedWorkItems ?? 0) > 0)
                    {
                        <span> | </span>
                    }
                }

                @if ((item.ClosedWorkItems ?? 0) > 0)
                {
                    <a asp-page="/Dashboard/AllItems" asp-route-filterMilestoneId="@item.Id" asp-route-filterCloseReasonId="-1">@item.ClosedWorkItems closed items</a>
                }
            </td>
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.DropDownList(m => m.ApplicationId, Model.AppSelect, new { @class = "form-control" })</td>
        <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
        <td>@grid.DropDownList(m => m.ProjectId, Model.ProjectSelect, new { @class = "form-control" })</td>
        <td>@grid.TextBox(m => m.Date, new { @class = "form-control datepicker", autocomplete = "off" })</td>
        <td></td>
        <td>@grid.Controls()</td>
    </tr>
</table>
@grid.HandlerForms("Save", "Delete")

@section Scripts {
    <script src="~/js/GridEditor.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>
}