@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.OrganizationModel
@{
    ViewData["Title"] = "Organization";
}

<h4>Organization</h4>
<p>If you're the owner of this organization, you can make changes to it.</p>

@Html.ActionAlert(TempData)

@if (Model.MustCreateOrg)
{
    <div class="alert alert-info">
        You were redirected here because you need to <strong>create</strong> an Organization record to hold all your data, or <strong>join</strong> an existing one.
        Please create a new organization, or request to join one below.
    </div>
}

<div class="ml-3">
<form method="post" class="mb-3">
    <input asp-for="Organization.Id" type="hidden" />

    <div class="form-row">
        <div class="form-group col-6">
            <label>Org Name:</label>
            <input asp-for="Organization.Name" class="form-control" type="text" required="required" />
        </div>

        <div class="form-group col-6">
            <label>OAuth Tenant Name:</label>
            <input asp-for="Organization.TenantName" class="form-control" type="text" required="required" />
            <span class="small text-muted">Used with external OAuth configuration, can be your org name</span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
            <label>Next Work Item #:</label>
            <input asp-for="Organization.NextWorkItemNumber" class="form-control" type="text" required="required" />
        </div>

        <div class="form-group col-6">
            <label>Next Invoice #:</label>
            <input asp-for="Organization.NextInvoiceNumber" class="form-control" type="text" required="required" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-4">
            <label>Iteration Weeks:</label>
            <input type="number" asp-for="Organization.IterationWeeks" class="form-control" />
            <span class="small text-muted">Default number of weeks between milestones</span>
        </div>

        <div class="form-group col-4">
            <label>Milestone Day of Week:</label>
            <select asp-for="Organization.MilestoneWorkDayValue" asp-items="Model.DayOfWeekSelect" class="form-control"></select>
            <span class="small text-muted">Day of week for generated milestones.</span>
        </div>

        <div class="form-group col-4">
            <label>Developer Activity:</label>
            <select asp-for="Organization.DeveloperActivityId" asp-items="Model.ActivitySelect" class="form-control">
                <option value="">(not set)</option>
            </select>
            <span class="small text-muted">Activity to assume for users who haven't set their default activity.</span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
            <label>Freshdesk Url:</label>
            <input type="text" asp-for="Organization.FreshdeskUrl" class="form-control" />
        </div>

        <div class="form-group col-6">
            <label>Freskdesk API Key:</label>
            <input type="text" asp-for="Organization.FreshdeskApiKey" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
            <label>Invoice Header:</label>
            <textarea asp-for="Organization.InvoiceHeader" class="form-control htmlEditor"></textarea>
        </div>

        <div class="form-group col-6">
            <label>Payment Link Template:</label>
            <input type="text" asp-for="Organization.PaymentLink" class="form-control" />
        </div>
    </div>

    <button type="submit" class="btn btn-dark">Save</button>
</form>
</div>

<dt>Join Existing Org</dt>
<div class="ml-3">
    <form method="post" asp-page-handler="Join" class="form-inline">
        <div class="form-group">
            <input type="text" name="Name" class="form-control mr-2" required="required" placeholder="Org Name" />
        </div>

        <button type="submit" class="btn btn-dark">Request Join</button>
    </form>

    <p class="mt-3">Pending Join Requests</p>
    <ul>
        @foreach (var item in Model.JoinRequests)
        {
            <li>@item.OrgName <a asp-page-handler="DeleteJoinRequest" asp-route-id="@item.Id" onclick="return confirm('This will delete your join request.');">remove</a></li>
        }
    </ul>
</div>

@{
    var grid = new GridEditor<Organization>(this, Xsrf);
}

<h5 class="mt-3">My Orgs</h5>
<table class="table">
    <tr>
        <th>Org Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model.MyOrgs)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
        <td>@grid.Controls()</td>
    </tr>
</table>
@grid.HandlerForms("Save", "Delete")

@section Scripts {
    <script src="~/js/GridEditor.js"></script>
}