@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.OrganizationModel
@{
    ViewData["Title"] = "Organization";
}

<h4>Organization</h4>
<p>If you're the owner of this organization, you can make changes to it.</p>

@Html.ActionMessage(Model.Message)

<form method="post">
    <input asp-for="Organization.Id" type="hidden"/>

    <div class="form-group">
        <label>Org Name:</label>
        <input asp-for="Organization.Name" class="form-control" type="text" required="required"/>
    </div>

    <div class="form-group">
        <label>Next Work Item #:</label>
        <input asp-for="Organization.NextWorkItemNumber" class="form-control" type="text" required="required"/>
    </div>

    <button type="submit" class="btn btn-dark">Save</button>
</form>

@{ 
    var grid = new GridEditor<Organization>(this, Xsrf);
}

<h5>My Orgs</h5>
<table class="table">
    <tr>
        <th>Org Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model.MyOrgs)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
        <td>@grid.Controls()</td>        
    </tr>
</table>
@grid.HandlerForms("Save", "Delete")

@section Scripts {
    <script src="~/js/GridEditor.js"></script>
}