@page
@model Ginseng.Mvc.Pages.Setup.OrgUserModel
@{
    ViewData["Title"] = "OrgUser";
}

<h4>Org Settings</h4>
<p>Use this to customize aspects of your relationship with this organization.</p>

<form method="post" asp-page-handler="SelectOrg">
    <label>
        Current Organization
        <span class="small text-muted">changes take effect immediately</span>
    </label>
    <select name="orgId" asp-items="Model.MyOrgSelect" class="form-control" onchange="this.form.submit();">
        <option value="" disabled="disabled">(select)</option>
    </select>
</form>

<hr/>

@Html.ActionAlert(TempData)

<form method="post">
    <div class="form-group">
        <label>Display Name:</label>
        <input type="text" asp-for="OrgUser.DisplayName" class="form-control" required="required" maxlength="50" />
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Max Work in Progress:</label>
                <input type="number" asp-for="OrgUser.MaxWorkInProgress" class="form-control" />
            </div>
        </div>

        <div class="col-6">
            <label>Default Activity:</label>
            <select asp-for="OrgUser.DefaultActivityId" asp-items="Model.ActivitySelect" class="form-control">
                <option value="">(none)</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label>Work Days:</label>
            <input type="hidden" asp-for="OrgUser.WorkDays" />
            <ul class="list-inline">
                @foreach  (var wk in Model.WorkDays)
                {
                    <li class="list-inline-item">
                    <label>
                        @wk.Abbreviation
                        <input type="checkbox" name="SelectedWorkDays" value="@wk.Flag" checked="@((wk.Flag & Model.OrgUser.WorkDays) == wk.Flag)" />
                    </label>
                </li>
                }
            </ul>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Daily Work Hours:</label>
                <input type="number" asp-for="OrgUser.DailyWorkHours" class="form-control" />
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-12">
            <label>Responsibilities:</label>
            <input type="hidden" asp-for="OrgUser.Responsibilities" />
            <ul class="list-inline">
                @foreach (var r in Model.Responsibilities)
                {
                    <li class="list-inline-item">
                        <label>
                            @r.Name
                            <input type="checkbox" name="SelectedResponsibilities" value="@r.Flag" checked="@((r.Flag & Model.OrgUser.Responsibilities) == r.Flag)" />
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>

    <button class="btn btn-dark">Save</button>
</form>

<hr/>

<form method="post" asp-page-handler="SetTimeZone" class="form-inline">    
    <label class="mr-2">Time Zone:</label>
    <select name="TimeZoneOffset" asp-items="Model.TimeZoneSelect" class="form-control mr-2">
        <option value="0">UTC time</option>
    </select>

    <label class="mr-2">
        @Html.CheckBoxFor(m => m.AdjustForDaylightSaving)
        Adjust for daylight saving
    </label>
    
    <button class="btn btn-dark mr-2">Update</button>

    <label>Current time: @Model.CurrentUser.LocalTime.ToShortTimeString()</label>
</form>

<p class="small text-muted mt-3">
    Note, your selected time zone applies to all your organizations, if you have more than one.
</p>