@page
@model Ginseng.Mvc.Pages.Setup.OrgUserModel
@{
    ViewData["Title"] = "OrgUser";
}

<div class="alert @Model.AlertClass">@Model.SaveMessage</div>

<form method="post" asp-page-handler="SelectOrg">
    <label>Organization:</label>
    <select name="orgId" asp-items="Model.MyOrgSelect" class="form-control">
        <option value="" disabled="disabled">(select)</option>
    </select>
</form>

<form method="post">
    <div class="form-group">
        <label>Display Name:</label>
        <input type="text" asp-for="OrgUser.DisplayName" class="form-control" required="required"/>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Max Work in Progress:</label>
                <input type="number" asp-for="OrgUser.MaxWorkInProgress" class="form-control"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Daily Work Hours:</label>
                <input type="number" asp-for="OrgUser.DailyWorkHours" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label>Work Days:</label>
            <input type="hidden" asp-for="OrgUser.WorkDays"/>
            <ul class="list-inline">
            @for (int i = 0; i < Model.WorkDays.Count(); i++)
            {
                var wk = Model.WorkDays[i];
                <li class="list-inline-item">
                    <label>
                        @wk.Abbreviation
                        <input type="checkbox" name="SelectedWorkDays[@i]" value="@wk.Flag" checked="@((wk.Flag & Model.OrgUser.WorkDays) == wk.Flag)"/>
                    </label>            
                </li>
            }
            </ul>
        </div>
    </div>

    <button class="btn btn-dark">Save</button>
</form>

