@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<h4>Projects</h4>
<p>Use Projects to group related ongoing work related to a feature area, goal, or some other unifying idea or objective.
    Projects do not have due dates or time frames. If you need to use due dates, use <a asp-route-page="/Setup/Milestones">Milestones</a>.</p>

@Html.ActionAlert(TempData)

@{
    var grid = new GridEditor<Project>(this, Xsrf, defaults: new { ApplicationId = Model.AppId, IsActive = true });
}

<form method="get" class="form-inline mb-2">
    <label class="mr-2">Application:</label>
    <select name="AppId" class="form-control" asp-items="Model.AppSelect" onchange="this.form.submit();">
        <option>(select)</option>
    </select>
</form>

<table class="table">
    <tr>
        <th>Project Name</th> 
        <th>Priority</th>
        <th>Active</th>
        <th>Manage</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Projects)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
            <td>@grid.TextBox(m => m.Priority, new { @class = "form-control" })</td>
            <td>@grid.CheckBox(m => m.IsActive)</td>
            <td><a asp-page="/Dashboard/Projects" asp-route-id="@item.Id">Manage</a></td>
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>                
        <td>@grid.TextBox(m => m.Priority, new { @class = "form-control" })</td>
        <td>@grid.CheckBox(m => m.IsActive)</td>
        <td></td>
        <td>@grid.Controls()</td>
    </tr>
</table>
@grid.HandlerForms("Save", "Delete")

@section Scripts {
    <script src="~/js/GridEditor.js"></script>
}