@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.SizesModel
@{
    ViewData["Title"] = "Sizes";
}

<h4>Work Item Sizes</h4>
<p>Use Sizes to convey the difficulty or approximate time required for work items. I recommend
    having just a few options, for example Small (1 day), Medium (3 days), Large (7 days). Anything
    larger or more precise will be too hard to estimate, IMO.</p>

@{ 
    var grid = new GridEditor<WorkItemSize>(this, Xsrf);
}

<table class="table">
    <tr>
        <th>Size Name</th>
        <th>Max Days</th>
        <th></th>
    </tr>
    @foreach (var item in Model.WorkItemSizes)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
            <td>@grid.TextBox(m => m.EstimateHours, new { @class = "form-control" })</td>
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
        <td>@grid.TextBox(m => m.EstimateHours, new { @class = "form-control" })</td>
        <td>@grid.Controls()</td>
    </tr>
</table>
@grid.HandlerForms("Save", "Delete")

@section Scripts {
    <script src="~/js/GridEditor.js"></script>
}