@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.SizesModel
@{
    ViewData["Title"] = "Sizes";
}

<h4>Work Item Sizes</h4>
<p>Use Sizes to convey the difficulty or approximate time required for work items. I recommend
    having just a few options, for example Small (3-4 hours), Medium (8-12 hours), Large (16-36 hours). Anything
    larger or more precise will be too hard to estimate, IMO.</p>

@{
    var grid = new GridEditor<WorkItemSize>(this, Xsrf, (record) => record.Id);
}

@Html.ActionAlert(TempData)

<table class="table">
    <tr>
        <th>Size Name</th>
        <th>Max Hours</th>
        <th>Description</th>
        <th>Preview Color</th>
        <th></th>
    </tr>
    @foreach (var item in Model.WorkItemSizes)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
            <td>@grid.TextBox(m => m.EstimateHours, new { @class = "form-control" })</td>
            <td>@grid.TextBox(m => m.Description, new { @class = "form-control" })</td>
            <td>
                <span class="badge" style="background-color:@Html.WeightedColorToHex(item.ColorGradientPosition)">@item.Name</span>
            </td>
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.TextBox(m => m.Name, new { @class = "form-control" })</td>
        <td>@grid.TextBox(m => m.EstimateHours, new { @class = "form-control" })</td>
        <td>@grid.TextBox(m => m.Description, new { @class = "form-control" })</td>
        <td></td>
        <td>@grid.Controls()</td>
    </tr>
</table>
@grid.HandlerForms("Save", "Delete")

@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/adamosoftware/GridEditor.RazorPages@1.0.3/js/GridEditor.min.js"></script>
}