@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.UsersModel
@{
    ViewData["Title"] = "Users";
}

<h4>Users</h4>

@Html.ActionAlert(TempData)

@{
    var grid = new GridEditor<OrganizationUser>(this, Xsrf);
}

<table class="table">
    <tr>
        <th>User Name</th>
        <th>Schedule</th>
        <th>Is Request</th>
        <th>Enabled</th>
        <th></th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr id="@grid.RowId(user)" class="@((!user.IsEnabled) ? "table-dark" : "")">
            <td>
                <span class="mr-2">@user.UserName</span>
                @if (user.Email != null)
                {
                    <span class="small text-muted">@user.Email</span>
                }
            </td>
            <td>
                <span class="small">
                <span class="mr-2">@user.DailyWorkHours hrs/day</span>
                <br/>
                @foreach (var day in Model.WorkDays[user.UserId])
                {
                    <span>@day</span>
                }
                <br/>
                <span>@user.WeeklyHours hrs/week</span>
                </span>
            </td>
            <td>@grid.CheckBox(f => f.IsRequest)</td>
            <td>@grid.CheckBox(f => f.IsEnabled)</td>
            <td>@grid.Controls()</td>
        </tr>
    }
</table>
@grid.HandlerForms("Save", "Delete")

<p>@Model.Users.Count() users listed</p>

@section  Scripts {
    <script src="~/js/GridEditor.js"></script>
}