@model ActivityOption

<a href="@Model.Url()" class="dropdown-item @Model.ClassName() no-propagation" data-number="@Model.Number" data-activity-id="@Model.Activity.Id">
    <i class="@Model.FontawesomeClass()" style="color:@HandOff.GetColor(Model.IsForward)"></i>    
    @Model.Activity.Name
</a>