@model WorkItemView

<div class="card my-2">
    <div class="card card-header p-2" data-toggle="collapse" data-target="#item-@Model.WorkItem.Id">
        <div class="row">
            <div class="col-9">
                <span class="badge badge-pill" style="background-color:@Model.WorkItem.BackColor;color:@Model.WorkItem.ForeColor" title="@Model.WorkItem.ProjectName">@Model.WorkItem.Number</span>
                <partial name="Items/_Title" model="Model.WorkItem"/>
            </div>
            <div class="col-3 text-right">
                <!--comment, hand-off controls-->
                @Model.WorkItem.ActivityName - @Model.WorkItem.AssignedUserName
            </div>
        </div>
    </div>
    <div class="collapse" id="item-@Model.WorkItem.Id" data-parent="#accordion">
        <div class="card card-body">
            <div class="pb-3">
                <form class="form-inline">
                    <select name="ApplicationId" asp-items="@Model.Dropdowns.AppSelect(Model.WorkItem)" class="form-control-sm mr-2"></select>
                    <select name="ProjectId" asp-items="@Model.Dropdowns.ProjectSelect(Model.WorkItem)" class="form-control-sm mr-2">
                        <option value="">- project -</option>
                    </select>
                    <select name="MilestoneId" asp-items="@Model.Dropdowns.MilestoneSelect(Model.WorkItem)" class="form-control-sm mr-2">
                        <option value="">- milestone -</option>
                    </select>
                    <select name="SizeId" asp-items="@Model.Dropdowns.SizeSelect(Model.WorkItem)" class="form-control-sm mr-2">
                        <option value="">- size -</option>
                    </select>
                    <select name="CloseReasonId" asp-items="@Model.Dropdowns.CloseReasonSelect(Model.WorkItem)" class="form-control-sm mr-2">
                        <option value="">- open -</option>
                    </select>
                </form>
            </div>
            <div>
                @Html.Raw(Model.WorkItem.HtmlBody)
            </div>
        </div>
    </div>
</div>                        
