@model WorkItemCardView

<a name="@Model.WorkItem.Number"></a>

<div class="card my-2">
    <div class="card card-header p-2" data-toggle="collapse" data-target="#item-@Model.WorkItem.Id">
        <div class="row">
            <div class="col-9">                
                <span class="badge badge-secondary" title="@Model.WorkItem.ProjectName">                    
                    @Model.WorkItem.Number
                </span>                
                <partial name="Dashboard/Items/_Title" model="Model.WorkItem" />

                <div style="display:inline-block">
                    <button class="btn btn-light dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Labels
                    </button>
                    <div class="dropdown-menu">
                        @foreach (var item in Model.Dropdowns.LabelItems(Model.SelectedLabels))
                        {
                            <form method="post">
                                <input type="hidden" name="WorkItemNumber" value="@Model.WorkItem.Number"/>
                                <input type="hidden" name="LabelId" value="@item.Id"/>
                                <a class="dropdown-item labelCheckboxLink">
                                    @Html.CheckBox("selected", item.Selected, new { @class = "labelCheckbox" })
                                    <span class="badge" style="background-color:@item.BackColor;color:@item.ForeColor">@item.Name</span>
                                </a>
                            </form>                            
                        }
                    </div>
                </div>

                <div id="labels-@Model.WorkItem.Number" style="display:inline-block">
                    <partial name="Dashboard/Items/_Labels" model="Model.SelectedLabels"/>
                </div>
            </div>
            <div class="col-3 text-right">
                <!--comment, hand-off controls-->
                @if (Model.WorkItem.AssignedUserId.HasValue)
                {
                    @Model.WorkItem.ActivityName<span> - </span>@Model.WorkItem.AssignedUserName
                    <!--hand off control-->
                }
                else
                {
                    <a href="#">I'll take this</a>
                }
            </div>
        </div>
    </div>
    <div class="collapse" id="item-@Model.WorkItem.Id" data-parent="#accordion">
        <div class="card card-body">
            <div class="pb-3">
                <form class="form-inline">
                    <input type="hidden" name="Number" value="@Model.WorkItem.Number" />
                    
                    <select name="ApplicationId" asp-items="@Model.Dropdowns.AppSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate"></select>
                    
                    <select name="ProjectId" asp-items="@Model.Dropdowns.ProjectSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate">
                        <option value="">- project -</option>
                    </select>
                    
                    <select name="MilestoneId" asp-items="@Model.Dropdowns.MilestoneSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate">
                        <option value="">- milestone -</option>
                    </select>
                    
                    <select name="SizeId" asp-items="@Model.Dropdowns.SizeSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate">
                        <option value="">- size -</option>
                    </select>
                    
                    <select name="CloseReasonId" asp-items="@Model.Dropdowns.CloseReasonSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate">
                        <option value="">- open -</option>
                    </select>

                    <img src="~/img/loading.gif" id="loading-@Model.WorkItem.Number" style="display:none" />
                    <i class="fas fa-check-circle" style="color:green;display:none" id="update-success-@Model.WorkItem.Number"></i>
                    <i class="fas fa-exclamation-triangle" style="color:red;display:none" id="update-failed-@Model.WorkItem.Number"></i>
                </form>
            </div>
            <div>
                @await Html.PartialAsync("Shared/_HtmlEditor", new HtmlEditorView() { Id = Model.WorkItem.Number, IdPrefix = "work-item", PostUrl = "/Update/WorkItemBody", Content = Model.WorkItem.HtmlBody })
            </div>
        </div>
    </div>
</div>