@model WorkItemView

<div class="card my-2">
    <div class="card card-header p-2" data-toggle="collapse" data-target="#item-@Model.WorkItem.Id">
        <div class="row">
            <div class="col-9">
                <span class="badge badge-pill" style="background-color:@Model.WorkItem.BackColor;color:@Model.WorkItem.ForeColor" title="@Model.WorkItem.ProjectName">@Model.WorkItem.Number</span>
                <partial name="Items/_Title" model="Model.WorkItem"/>
            </div>
            <div class="col-3 text-right">
                <!--comment, hand-off controls-->
                @if (Model.WorkItem.AssignedUserId.HasValue)
                {
                    @Model.WorkItem.ActivityName<span> - </span>@Model.WorkItem.AssignedUserName
                    <!--hand off control-->
                }
                else
                {
                    <a href="#">I'll take this</a>
                }
            </div>
        </div>
    </div>
    <div class="collapse" id="item-@Model.WorkItem.Id" data-parent="#accordion">
        <div class="card card-body">
            <div class="pb-3">
                <form class="form-inline">
                    <input type="hidden" name="Number" value="@Model.WorkItem.Number"/>
                    <select name="ApplicationId" asp-items="@Model.Dropdowns.AppSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate"></select>
                    <select name="ProjectId" asp-items="@Model.Dropdowns.ProjectSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate">
                        <option value="">- project -</option>
                    </select>
                    <select name="MilestoneId" asp-items="@Model.Dropdowns.MilestoneSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate">
                        <option value="">- milestone -</option>
                    </select>
                    <select name="SizeId" asp-items="@Model.Dropdowns.SizeSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate">
                        <option value="">- size -</option>
                    </select>
                    <select name="CloseReasonId" asp-items="@Model.Dropdowns.CloseReasonSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate">
                        <option value="">- open -</option>
                    </select>
                    <img src="~/img/loading.gif" id="loading-@Model.WorkItem.Number" style="display:none" />
                    <i class="fas fa-check-circle" style="color:green;display:none" id="update-success-@Model.WorkItem.Number"></i>
                    <i class="fas fa-exclamation-triangle" style="color:red;display:none" id="update-failed-@Model.WorkItem.Number"></i>
                </form>                
            </div>
            <div>
                <div id="body-display-@Model.WorkItem.Number">
                    @Html.Raw(Model.WorkItem.HtmlBody)
                </div>
                <div id="body-edit-@Model.WorkItem.Number" style="display:none">
                    <form>
                        <input type="hidden" name="Number" value="@Model.WorkItem.Number"/>
                        <textarea name="HtmlBody" id="HtmlBody-@Model.WorkItem.Number">@Model.WorkItem.HtmlBody</textarea>
                        <button type="button" class="btn btn-sm btn-secondary">Update</button>
                        <a class="itemCancelEdit" href="#" data-number="@Model.WorkItem.Number">Cancel</a>
                    </form>
                </div>
                
                <div>
                    <a class="itemEdit" href="#" data-number="@Model.WorkItem.Number">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>                        
