@model CommentView

<ul class="mt-3 list-unstyled js-comments-list">
@foreach (var item in Model.Comments)
{
    <li class="mt-4 border-top pt-2 pl-2 js-comment-list-item @Model.GetCommentClass(item)">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <i class="@item.IconClass mr-1"></i>
                <strong class="mr-1">@item.DisplayName</strong>
                <span class="small text-muted mr-1">@Html.FormatValue(item.DateCreated, "{0:ddd M/d}")</span>

                @{ 
                    var elapsed = Model.LocalTime.Subtract(item.DateCreated).Humanize();
                }
                <span class="small text-muted">@elapsed ago</span>
            </div>
            @if  (item.CreatedBy.Equals(User.Identity.Name))
            {
                <div class="d-flex">
                    <button class="btn btn-sm bg-transparent text-primary py-0 js-edit-comment" data-comment-id="@item.Id">
                        <i class="fa fa-pencil-alt"></i>
                        Edit
                    </button>
                    <a class="btn btn-sm bg-transparent text-primary" href="@Url.Action("DeleteComment", "Update", new { id = item.Id, returnUrl = Context.Request.GetDisplayUrl() })" onclick="return confirm('This will delete your comment.');">Delete...</a>
                </div>
            }
        </div>
        <div class="js-comment-html">@Html.Raw(item.HtmlBody)</div>
    </li>
}
</ul>

@if (!Model.CommentBoxOpen)
{
    <a class="addComment btn btn-sm btn-light" href="#" data-id="@Model.ObjectId" id="addCommentLink-@Model.IdPrefix-@Model.ObjectId" data-target="addComment-@Model.ObjectId" data-id-prefix="@Model.IdPrefix" title="Add comment">
        <i class="far fa-comment-plus"></i>
        Add Comment
    </a>
}

@{ var displayStyle = (Model.CommentBoxOpen) ? string.Empty : "display:none"; }

<div class="mt-4 p-4 js-comment-form-wrapper newCommentWrapper" id="addComment-@Model.ObjectId" style="@displayStyle">
    <form method="post">
        <input type="hidden" name="ObjectId" value="@Model.ObjectId" />
        <input type="hidden" name="ObjectType" value="@Model.ObjectType" />
        <input type="hidden" name="CommentBoxOpen" value="@Model.CommentBoxOpen.ToString().ToLower()"/>
        <input type="hidden" name="Id" value=""/>        
        <div class="form-row">
            <div class="col-12">
                <textarea name="HtmlBody" class="form-control form-control-sm htmlEditor" required="required" placeholder="add comment" id="addComment-@Model.ObjectId-HtmlBody" data-folder-name="@(Model.ObjectType.ToString())Comments" data-id="@Model.ObjectId"></textarea>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col-4">
                <select name="IsImpediment" class="form-control form-control-sm mr-2">
                    <option value="">Info Only</option>
                    <option value="true">Help needed</option>
                    <option value="false">Issue resolved</option>
                </select>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-dark btn-sm add-comment-submit">Add</button>
            </div>
        </div>
    </form>
</div>
