@model IEnumerable<EventLogsResult>

@foreach (var dateGrp in Model.GroupBy(row => row.EventDate))
{
    <h5>@Html.FormatValue(dateGrp.Key, "{0:ddd M/d}")</h5>
    @foreach (var numberGrp in dateGrp.GroupBy(row => row.Number))
    {
        <div class="ml-4">
            @if (!Context.Request.PathContains("WorkItem/View"))
            {
                <div class="border-bottom mb-1">
                    <partial name="Dashboard/Items/_ItemNumber" model="numberGrp.First()" />
                    <a asp-page="/WorkItem/View" asp-route-id="@numberGrp.First().Number">
                        <partial name="Dashboard/Items/_Title" model="numberGrp.First()" />
                    </a>
                </div>
            }
            <ul style="list-style:none">
                @foreach (var ev in numberGrp)
                {
                    <li>
                        <i class="@ev.IconClass" style="color:@ev.IconColor"></i>
                        <span>@(ev.DisplayName):</span>
                        @Html.Raw(@ev.HtmlBody)
                    </li>
                }
            </ul>
        </div>
    }
}