@model WorkItemCardView

<div class="pb-3">
    <div class="d-flex justify-content-between">
        <form class="form-inline">
            <partial name="/Pages/Dashboard/Items/_ItemFields.cshtml" model="Model"/>

            <select name="CloseReasonId" asp-items="@Model.Dropdowns.CloseReasonSelect(Model.WorkItem)" class="form-control-sm mr-2 itemUpdate" title="Close reason">
                <option value="">- open -</option>
            </select>

            <img src="~/img/loading.gif" id="loading-@Model.WorkItem.Number" style="display:none" />
            <i class="fas fa-check-circle" style="color:green;display:none" id="update-success-@Model.WorkItem.Number"></i>
            <i class="fas fa-exclamation-triangle" style="color:red;display:none" id="update-failed-@Model.WorkItem.Number"></i>
        </form>

        <div class="d-flex flex-row-reverse align-items-center">
            @if (Model.ShowDetailsButton)
            {
                <a class="btn btn-sm btn-light" asp-page="/WorkItem/View" asp-route-id="@Model.WorkItem.Number" title="Created by @Model.WorkItem.CreatedByName on @Model.WorkItem.DateCreated">
                    <i class="far fa-info-circle"></i>
                    Details
                </a>
            }
        </div>
    </div>

    @if (Model.WorkItem.FDTicketId != 0)
    {
        <div class="alert alert-info small p-2 mt-3">
            <i class="fas fa-ticket-alt" title="Freshdesk ticket"></i>

            <a href="@Model.WorkItem.FreshdeskUrl/a/tickets/@Model.WorkItem.FDTicketId" target="_blank">Ticket # @Model.WorkItem.FDTicketId: @Model.WorkItem.FDTicketSubject</a>

            <a href="@Model.WorkItem.FreshdeskUrl/a/contacts/@Model.WorkItem.FDContactId" target="_blank">@Model.WorkItem.FDContactName</a>
            @if (Model.WorkItem.FDCompanyId != 0)
            {
                <span> | </span>
                <a href="@Model.WorkItem.FreshdeskUrl/a/companies/@Model.WorkItem.FDCompanyId" target="_blank">@Model.WorkItem.FDCompanyName</a>
            }

            <span>@Model.WorkItem.FDTicketStatus.ToString()</span>
        </div>
    }
</div>
<div>
    @if (Model.WorkItem.LastHandOffId.HasValue)
    {
        <div class="bg-light p-3 mb-2">
            <p>
                <i class="@HandOff.GetIconClass(Model.WorkItem.IsForward.Value)" style="color:@HandOff.GetColor(Model.WorkItem.IsForward.Value)"></i>
                <span>from @Model.WorkItem.FromActivityName @Model.WorkItem.HandOffUserName @Model.WorkItem.HandOffDate</span>
            </p>
            @Html.Raw(Model.WorkItem.HandOffBody)
        </div>
    }

    @if  (!Model.WorkItem.CreatedBy.Equals(User.Identity.Name))
    {
        <div>
            <partial name="/Pages/Shared/_ItemDateStamp.cshtml" model="@(new WorkItemTimeStamp() { WorkItem = Model.WorkItem, LocalTime = Model.LocalTime })"/>
        </div>
    }

    @await Html.PartialAsync("Shared/_HtmlEditor", new HtmlEditorView() { Id = Model.WorkItem.Id, PostUrl = "/Update/WorkItemBody", Content = Model.WorkItem.HtmlBody, AllowComments = true, UploadFolderName = "WorkItems", OverrideId = Model.WorkItem.Number, CopyWorkItemLink = true, Notifications = Model.Notifications })
    <div id="comments-@Model.WorkItem.Id-WorkItem-output">
    @await  Html.PartialAsync("/Pages/Dashboard/Items/_Comments.cshtml", new CommentView() { Comments = Model.Comments, ObjectId = Model.WorkItem.Id, ObjectType = ObjectType.WorkItem, CommentBoxOpen = Model.CommentBoxOpen, IdPrefix = "work-item", LocalTime = Model.LocalTime })
    </div>
</div>