@model Ginseng.Mvc.Pages.Dashboard.MilestonesModel

@{ 
    var calendar = Model.GetCalendar(4);
}


@foreach (var appGrp in Model.Milestones.GroupBy(row => row.ApplicationId))
{
    <h4>@appGrp.First().ApplicationName</h4>
    <hr/>
    <div class="app-container">
        


            @foreach (var yearGrp in appGrp.GroupBy(row => new YearMonth(row.Date).Year))
            {
                <h5>@yearGrp.Key</h5>
                <div class="row ml-3">

                </div>
                <hr/>
            }

            @foreach (var ms in appGrp)
            {
                var metrics = Model.Metrics[ms.Id];
                <div class="col-3 p-2" data-milestone-id="@ms.Id">
                    <a asp-route-id="@ms.Id" class="btn @((metrics.TotalWorkItems > 0) ? "btn-secondary" : "btn-light") milestone-work-items" asp-page="Milestones" data-milestone-id="@ms.Id">
                        <i class="fas fa-flag-checkered"></i>
                        @ms.Name
                        <sup>@Html.FormatValue(ms.Date, "{0:M/d}")</sup>
                    </a>
                    <br/>
                    <partial name="Items/_MilestoneInfo" model="metrics"/>
                </div>
            }        
    </div>
}