@model Ginseng.Mvc.Pages.Dashboard.CalendarModel

@{
    var months = Model.GetYearMonthRange(4);
    var milestones = Model.GetCalendar();
}

@if (Model.FilterProjects != null)
{
    <ul class="list-inline text-center">
        <li class="list-inline-item small">
            Projects:
        </li>

        @foreach (var prj in Model.FilterProjects)
        {
            var buttonClass = (prj.Id.Equals(Model.ProjectId)) ? "btn-dark" : "btn-light";
            <li class="list-inline-item">
                <a asp-page="/Dashboard/Calendar" asp-route-projectId="@prj.Id" class="btn btn-sm @buttonClass" title="@prj.Name">@(prj.Nickname ?? prj.Name)</a>
            </li>
        }
        @if (Model.ProjectId.HasValue)
        {
            <li class="list-inline-item">
                <a asp-page="/Dashboard/Calendar" class="btn btn-sm btn-light">show all</a>
            </li>
        }
    </ul>
}

@foreach (var yearGrp in months.GroupBy(row => row.Year))
{
    <h4>@yearGrp.Key</h4>
    <div class="row">
        @foreach (var month in yearGrp)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                <div class="card p-2 js-calendar-month-with-milestone-list-droppable" data-month="@month.Month" data-year="@month.Year">
                    <h6 class="card-title text-right text-muted">@month.ToString()</h6>
                    <div class="card-body pt-0 mt-2">
                        <div class="row js-calendar-month-with-milestone-list">
                            @foreach (var ms in milestones[month])
                            {
                                var metrics = Model.Metrics[ms.Id];
                                <p data-milestone-id="@ms.Id" class="col-12 mb-0 px-3 py-2 bg-white js-item-draggable">
                                    <a asp-route-id="@ms.Id" class="btn @((metrics.TotalWorkItems > 0) ? "btn-secondary" : "btn-light") milestone-work-items" asp-page="Calendar" data-milestone-id="@ms.Id">
                                        <i class="fas fa-flag-checkered"></i>
                                        @ms.Name
                                        <sup id="ms-date-@ms.Id">@Html.FormatValue(ms.Date, "{0:M/d}")</sup>
                                    </a>
                                    <br />
                                    <partial name="Items/_MilestoneInfo" model="metrics" />

                                    @if (Model.DevLoad[ms.Id].Any())
                                    {
                                        <ul class="small">
                                            @foreach  (var dev in Model.DevLoad[ms.Id])
                                            {
                                                <li><a asp-page="/Setup/DevMilestones" asp-route-milestoneId="@dev.MilestoneId" asp-route-appId="@dev.ApplicationId">@dev.DeveloperName @dev.AvailableHours free hrs</a></li>
                                            }
                                        </ul>
                                    }
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
     </div>
}