@model OpenWorkItemsResult

<h5 data-milestone-id="@Model.MilestoneId">
    <i class="fas fa-flag-checkered"></i>
    <span class="@((Model.MilestoneId != 0) ? "editable" : string.Empty)" id="milestone-name-@Model.MilestoneId" data-url="/Update/MilestoneName">@Model.MilestoneName</span>
    @if (Model.MilestoneId != 0)
    {
        <a href="#" class="ms-datepicker" data-milestone-id="@Model.MilestoneId">@Html.FormatValue(Model.MilestoneDate, "{0:ddd M/d}")</a>
        <input type="hidden" class="ms-datepicker-input" data-milestone-id="@Model.MilestoneId" />
        <span class="text-muted small">
            @if (Model.MilestoneDaysAway > 0)
            {
                <text>@Model.MilestoneDaysAway day(s) away</text>
            }
            else if (Model.MilestoneDaysAway < 0)
            {
                <text>@Math.Abs(Model.MilestoneDaysAway.Value) day(s) ago</text>
            }
            else
            {
                <text>today</text>
            }
        </span>
    }
</h5>