@model DashboardMilestoneField

<div id="Milestone-@Model.Item.Number">
    @if (Model.Item.MilestoneId.HasValue)
    {
        <span>@Html.FormatValue(Model.Item.MilestoneDate, "{0:ddd M/d}")</span>
    }
    else
    {
        <span class="text-muted">No milestone</span>
    }
    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
    <div class="dropdown-menu">
        @foreach (var ms in Model.Milestones)
        {
            <a class="dropdown-item setMilestone" href="javascript:void" data-number="@Model.Item.Number" data-milestone-id="@ms.Id">@Html.FormatValue(ms.Date, "{0:M/d}") - @ms.Name</a>
        }
    </div>
</div>