@model MilestoneHeaderView

<div class="row mt-4">
<h5 data-milestone-id="@Model.Header.MilestoneId">
    <i class="fas fa-flag-checkered"></i>
    <span class="@((Model.Header.MilestoneId != 0) ? "editable" : string.Empty)" id="milestone-name-@Model.Header.MilestoneId" data-url="/Update/MilestoneName">@Model.Header.MilestoneName</span>
    @if (Model.Header.MilestoneId != 0)
    {
        <a href="#" class="ms-datepicker" data-milestone-id="@Model.Header.MilestoneId">@Html.FormatValue(Model.Header.MilestoneDate, "{0:ddd M/d}")</a>
        <input type="hidden" class="ms-datepicker-input" data-milestone-id="@Model.Header.MilestoneId" />
        <span class="text-muted small">
            @if (Model.Header.MilestoneDaysAway > 0)
            {
                <text>@Model.Header.MilestoneDaysAway day(s) away</text>
            }
            else if (Model.Header.MilestoneDaysAway < 0)
            {
                <text>@Math.Abs(Model.Header.MilestoneDaysAway.Value) day(s) ago</text>
            }
            else
            {
                <text>today</text>
            }
        </span>
    }    
</h5>
@if (Model.AllowToggle)
{
    if (Model.Header.IsMilestoneVisible)
    {
        <form method="post" asp-page-handler="HideMilestone">
            <input type="hidden" name="id" value="@Model.Header.MilestoneId"/>            
            <button class="btn btn-sm btn-light milestone-collapse ml-2" title="Collapse milestone" type="submit">
                <i class="far fa-minus-circle"></i>
            </button>
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="ShowMilestone">
            <input type="hidden" name="id" value="@Model.Header.MilestoneId"/>            
            <button class="btn btn-sm btn-light milestone-expand ml-2" title="Expand milestone" type="submit">
                <i class="far fa-plus-circle"></i>
            </button>
        </form>
    }
}    
</div>