@model ProjectInfoResult

<a asp-route-id="@Model.Id" class="btn @((Model.Id != 0 && Model.TotalWorkItems > 0) ? "btn-info" : "btn-light") project-work-items" asp-page="Projects" data-project-id="@Model.Id" name="@Model.Id">
    @Model.Name
</a>
<br />
<div id="projectInfo-@Model.Id">
    <partial name="Items/_ItemInfo" model="Model" />
</div>