@model Ginseng.Mvc.Pages.Work.ProjectsModel

<form method="get" class="form-inline mb-3">
    <div class="form-row">
    <label class="mr-4">Sort by:</label>
    @Html.DropDownList("ProjectListSort", new SelectList(Html.GetEnumSelectList(typeof(ProjectInfoSortOptions)), "Value", "Text", Model.Sort), new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
</form>

<ul>
    <li class="mb-2">
        <form method="post" asp-page-handler="Create">
            <div class="form-row align-items-center">
                <div class="col-6">
                    <input type="text" name="Name" placeholder="create new project" class="form-control" required="required"/>                    
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-dark">Add</button>
                </div>
            </div>
        </form>
    </li>
    @foreach (var p in Model.ProjectInfo)
    {
        <li class="mb-2">
            <a asp-route-id="@p.Id" class="btn @((p.TotalWorkItems > 0) ? "btn-info" : "btn-light")">@p.Name</a>
            <span class="text-muted small">@p.TotalWorkItems work items / @Html.FormatValue(p.PercentComplete, "{0:P0}") complete</span>

            <ul class="list-inline small" style="display:inline-block">
                @foreach (var user in Model.ProjectAssignments[p.Id].OrderByDescending(row => row.WorkItemCount))
                {
                    <li class="list-inline-item">
                        @if (user.AssignedUserName == null)
                        {
                            <span class="font-weight-bold">@user.WorkItemCount unassigned</span>
                        }
                        else
                        {
                            <span>@user.WorkItemCount @user.AssignedUserName</span>
                        }
                    </li>
                }
            </ul>
            
            @foreach (var lbl in Model.ProjectLabels[p.Id])
            {
                <span class="badge" style="background-color:@lbl.BackColor;color:@lbl.ForeColor">@lbl.LabelName - @lbl.Count</span>
            }

            @if (p.AllowDelete)
            {
                <form method="post" asp-page-handler="Delete" style="display:inline-block">
                    <input type="hidden" name="Id" value="@p.Id"/>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            }
        </li>
    }
</ul>