@model Ginseng.Mvc.Pages.Work.ProjectsModel

<form method="get" class="form-inline mb-3">
    <div class="form-row">
    <label class="mr-4">Sort by:</label>
    @Html.DropDownList("ProjectListSort", new SelectList(Html.GetEnumSelectList(typeof(ProjectInfoSortOptions)), "Value", "Text", Model.Sort), new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
</form>


    
@foreach (var appGrp in Model.ProjectInfo.GroupBy(row => row.ApplicationId))
{
    <ul>
        <li class="mb-2">
            <form method="post" asp-page-handler="Create">
                <div class="form-row align-items-center">
                    <div class="col-6">
                        <input type="text" name="Name" placeholder="create new project" class="form-control" required="required"/>                    
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-dark">Add</button>
                    </div>
                </div>
            </form>
        </li>
    </ul>
    @foreach (var prj in appGrp)
    {
        <li class="mb-2">
            <a asp-route-id="@prj.Id" class="btn @((prj.TotalWorkItems > 0) ? "btn-info" : "btn-light")">@prj.Name</a>
            <span class="text-muted small">@prj.TotalWorkItems work items / @Html.FormatValue(prj.PercentComplete, "{0:P0}") complete</span>

            <ul class="list-inline small" style="display:inline-block">
                @foreach (var user in Model.ProjectAssignments[prj.Id].OrderByDescending(row => row.WorkItemCount))
                {
                    <li class="list-inline-item">
                        @if (user.AssignedUserName == null)
                        {
                            <span class="font-weight-bold">@user.WorkItemCount unassigned</span>
                        }
                        else
                        {
                            <span>@user.WorkItemCount @user.AssignedUserName</span>
                        }
                    </li>
                }
            </ul>
            
            @foreach (var lbl in Model.ProjectLabels[prj.Id])
            {
                <span class="badge" style="background-color:@lbl.BackColor;color:@lbl.ForeColor">@lbl.LabelName - @lbl.Count</span>
            }

            @if (prj.AllowDelete)
            {
                <form method="post" asp-page-handler="Delete" style="display:inline-block">
                    <input type="hidden" name="Id" value="@prj.Id"/>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            }
            else
            {
                if (prj.IsActive)
                {
                    <a asp-page-handler="Deactivate" asp-route-id="@prj.Id">Deactivate</a>
                }
                else
                {
                    <a asp-page-handler="Activate" asp-route-id="@prj.Id">Make active</a>
                }
            }
        </li>
    }
}

<partial name="Shared/_IActive" model="Model"/>