@model ProjectInfoResult

<span class="text-muted small mr-2">
    @Model.OpenWorkItems work items | @Html.FormatValue(Model.PercentComplete, "{0:P0}") complete

    @if (Model.HasImpediment)
    {
        <span>
            <i class="@Comment.ImpedimentIcon" style="color:darkred" title="Has impediment"></i>
        </span>
    }
    
    <br/>

    @if (Model.EstimateHours.HasValue)
    {
        <span>@(Model.EstimateHours) est hrs</span>
        if (Model.WorkItemsWithoutEstimate > 0)
        {
            <span> | </span>
        }
    }    

    @if  (Model.WorkItemsWithoutEstimate > 0)
    {
        <span title="Percentage of project work items without estimate">@Html.FormatValue(Model.PercentUnknown, "{0:P0}") unknown</span>
    }
</span>

<br/>
<meter value="@Model.PercentComplete" max="1"></meter>
