@model ProjectInfoResult

<a asp-route-id="@Model.Id" class="btn @((Model.TotalWorkItems > 0) ? "btn-info" : "btn-light")" asp-page="Projects">@Model.Name</a>
<br/><span class="text-muted small">
    @Model.TotalWorkItems work items | 
    @if (Model.EstimateHours.HasValue)
    {
        @(Model.EstimateHours)<text> hrs | </text>
    }    
    @Html.FormatValue(Model.PercentComplete, "{0:P0}") complete</span>
<br/><meter value="@Model.PercentComplete" max="1"/>
