@model ProjectInfoResult

<span class="text-muted small mr-2">
    @Model.OpenWorkItems work items | @Html.FormatValue(Model.PercentComplete, "{0:P0}") complete    
</span>

@if (Model.HasModifiers())
{
    <br/>
    <span>
    @if (Model.ImpededWorkItems > 0)
    {
        <span class="mr-1">
            <i class="@Comment.ImpedimentIcon" style="color:@OpenWorkItemsResult.ImpedimentColor" title="@Model.ImpededWorkItems impeded items"></i>
            <sup>@Model.ImpededWorkItems</sup>
        </span>
    }

    @if (Model.UnestimatedWorkItems > 0)
    {
        <span class="mr-1">
            <i class="@OpenWorkItemsResult.UnestimatedIcon" style="color:@OpenWorkItemsResult.UnestimatedColor" title="@Model.UnestimatedWorkItems unestimated items"></i>
            <sup>@Model.UnestimatedWorkItems</sup>
        </span>
    }

    @if (Model.StoppedWorkItems > 0)
    {
        <span class="mr-1">
            <i class="@OpenWorkItemsResult.StoppedIcon" style="color:@OpenWorkItemsResult.StoppedColor" title="@Model.StoppedWorkItems unassigned items"></i>
            <sup>@Model.StoppedWorkItems</sup>
        </span>
    }
    </span>
}

<br/>
<meter value="@Model.PercentComplete" max="1"></meter>
