@model Ginseng.Mvc.Pages.Dashboard.ProjectsModel

<partial name="Items/_ProjectViewControls" model="Model"/>
    
@*crosstab columns*@
<div class="row sticky-top">
    <div class="col-@Model.CrosstabRowHeadingGridCols()">
        <span>App / Project</span>
    </div>
    @foreach (var ms in Model.MilestoneDates)
    {
        <div class="col-@Model.CrosstabColumnHeadingGridCols()">
            <p class="mb-0">
            @if (ms.First().ShowDate)
            {
                <span>@Html.FormatValue(ms.Key, "{0:ddd M/d}")</span>
                <span class="text-muted small">@ms.First().DaysAway days away</span>
            }
            else
            {
                <span>No Milestone</span>
            }
            </p>

            @foreach (var msName in ms)
            {
                <p class="mb-0 small">@msName.Name</p>
            }
        </div>
    }
</div>

@foreach (var appGrp in Model.ProjectInfo.GroupBy(row => row.ApplicationId))
{
    <h4>@appGrp.First().ApplicationName</h4>
    @foreach (var prj in appGrp)
    {
        <div class="row">
            <div class="col-@Model.CrosstabRowHeadingGridCols()">
                <partial name="Dashboard/Items/_ProjectLinkButton" model="prj"/>
            </div>        
            @foreach (var ms in Model.MilestoneDates)
            {
                <div class="col-@Model.CrosstabColumnHeadingGridCols()">
                    @{ 
                        var items = Model.ProjectWorkItems[new ProjectDashboardCell(prj.Id, ms.Key)];
                    }
                    @foreach (var msName in ms)
                    {
                        <div class="milestone-work-items-droppable" data-milestone-date="@ms.Key" data-project-id="@prj.Id">
                            @foreach (var wi in items)
                            {
                                <span class="js-item-draggable">
                                    <partial name="Dashboard/Items/_ItemNumber" model="wi"/>
                                </span>
                                <span id="work-item-title-@wi.Number" style="display:none">
                                    <span>@wi.Title</span>
                                    @foreach (var lbl in Model.Labels[wi.Id])
                                    {
                                        <span class="badge" style="background-color:@lbl.BackColor;color:@lbl.ForeColor">@lbl.Name</span>
                                    }
                                </span>
                            }
                        </div>
                    }
                    <div class="small text-muted">@items.Sum(row => row.EstimateHours) est hrs</div>
                </div>
            }            
        </div>
        <hr/>
    }
    
    <form method="post" asp-page-handler="Create">
        <input type="hidden" name="ApplicationId" value="@appGrp.Key"/>            
        <div class="row mb-3">
            <div class="col-6">
                <input type="text" name="Name" placeholder="create new project" class="form-control" required="required"/>                    
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-dark">Add</button>
            </div>            
        </div>
    </form>
    
}

<partial name="Shared/_IActive" model="Model"/>
