@model Ginseng.Mvc.Pages.Dashboard.ProjectsModel

<form class="form-inline mb-2">
    <input type="hidden" name="Id" value="@Model.SelectedProject.Id"/>

    <select name="TeamId" asp-items="@Model.Dropdowns.TeamSelect(Model.SelectedProject.TeamId)" class="form-control-sm mr-2 projectUpdate"></select>

    @if (Model.SelectedProject.Team.UseApplications)
    {
        <select name="ApplicationId" asp-items="@Model.Dropdowns.AppSelect(Model.SelectedProject)" class="form-control-sm mr-2 projectUpdate"></select>

        @if (Model.SelectedProject.DataModelId.HasValue)
        {
            <i class="far fa-database mr-2"></i>
        }    
        <select name="DataModelId" asp-items="@Model.Dropdowns.DataModelSelect(Model.SelectedProject.ApplicationId ?? 0, Model.SelectedProject.DataModelId)" class="form-control-sm mr-2 projectUpdate">
            <option value="">- data model -</option>
        </select>
    }        
    
    @if (Model.SelectedProject.DataModelId.HasValue)
    {
        <a asp-page="/Data/Index" asp-route-modelId="@Model.SelectedProject.DataModelId" title="Goto data model" class="mr-2">
            <i class="fas fa-chevron-double-right small"></i>
        </a>
    }

    @if (Model.SelectedProject.Team.CompanySpecificProjects && Model.FreshdeskCompanySelect != null)
    {
        <select name="FreshdeskCompanyId" asp-items="Model.FreshdeskCompanySelect" class="form-control-sm projectUpdate mr-2">
            <option value="">(none)</option>
        </select>
    }

    <span class="text-muted small mr-2">Nickname:</span>
    <span class="editable mr-2 small" id="project-nickname-@Model.SelectedProject.Id" data-url="/Update/ProjectNickname">@(Model.SelectedProject.Nickname ?? "nickame")</span>
    
    <label>
        @Html.CheckBox("IsActive", Model.SelectedProject.IsActive, new { @class = "projectUpdate mr-1" })
        Active
    </label>

    <img src="~/img/loading.gif" id="loading-project-@Model.SelectedProject.Id" style="display:none" />
    <i class="fas fa-check-circle" style="color:green;display:none" id="update-project-success-@Model.SelectedProject.Id"></i>
    <i class="fas fa-exclamation-triangle" style="color:red;display:none" id="update-project-failed-@Model.SelectedProject.Id"></i>
</form>
