@model Ginseng.Mvc.Pages.Work.ProjectsModel

<form method="get" class="form-inline mb-3 justify-content-center">
    <div class="form-row">                
        <label class="mr-4">Sort by:</label>
        @Html.DropDownList("Sort", new SelectList(Html.GetEnumSelectList(typeof(ProjectInfoSortOptions)), "Value", "Text", Model.Sort), new { @class = "form-control mr-4", onchange = "this.form.submit();" })        

        <label class="mr-4">Show:</label>
        @Html.DropDownList("Show", new SelectList(Html.GetEnumSelectList(typeof(ProjectInfoShowOptions)), "Value", "Text", Model.Show), new { @class = "form-control mr-4", onchange = "this.form.submit();" })
    </div>
</form>
    
@*crosstab columns*@
<div class="row sticky-top">
    <div class="col-@Model.CrosstabRowHeadingGridCols()">
        <span>App / Project</span>
    </div>
    @foreach (var ms in Model.MilestoneDates)
    {
        <div class="col-@Model.CrosstabColumnHeadingGridCols()">
            <p class="mb-0">
            @if (ms.First().ShowDate)
            {
                <span>@Html.FormatValue(ms.Key, "{0:ddd M/d}")</span>
                <span class="text-muted small">@ms.First().DaysAway days away</span>
            }
            else
            {
                <span>No Milestone</span>
            }
            </p>

            @foreach (var msName in ms)
            {
                <p class="mb-0 small">@msName.Name</p>
            }
        </div>
    }
</div>

@foreach (var appGrp in Model.ProjectInfo.GroupBy(row => row.ApplicationId))
{
    <h4>@appGrp.First().ApplicationName</h4>
    @foreach (var prj in appGrp)
    {
        <div class="row">
            <div class="col-@Model.CrosstabRowHeadingGridCols()">
                <a asp-route-id="@prj.Id" class="btn @((prj.TotalWorkItems > 0) ? "btn-info" : "btn-light")">@prj.Name</a>
                <br/><span class="text-muted small">@prj.TotalWorkItems work items | @Html.FormatValue(prj.PercentComplete, "{0:P0}") complete</span>
            </div>        
            @foreach (var ms in Model.MilestoneDates)
            {
                <div class="col-@Model.CrosstabColumnHeadingGridCols()">         
                    @{ 
                        var items = Model.ProjectWorkItems[new ProjectDashboardCell(prj.Id, ms.Key)];
                    }
                    @foreach (var wi in items)
                    {                                                
                        <partial name="Dashboard/Items/_ItemNumber" model="wi"/>                        
                        <span id="work-item-title-@wi.Number" style="display:none">
                            <span>@wi.Title</span>
                            @foreach (var lbl in Model.Labels[wi.Id])
                            {
                                <span class="badge" style="background-color:@lbl.BackColor;color:@lbl.ForeColor">@lbl.Name</span>
                            }
                        </span>
                    }
                    <br/><span class="small text-muted">@items.Sum(row => row.EstimateHours) est hrs</span>
                </div>
            }            
        </div>
        <hr/>
    }
    
    <form method="post" asp-page-handler="Create">
        <input type="hidden" name="ApplicationId" value="@appGrp.Key"/>            
        <div class="row mb-3">
            <div class="col-6">
                <input type="text" name="Name" placeholder="create new project" class="form-control" required="required"/>                    
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-dark">Add</button>
            </div>            
        </div>
    </form>
    
}

<partial name="Shared/_IActive" model="Model"/>
