@model WorkItemCardView

@if (!Model.WorkItem.CloseReasonId.HasValue)
{
    if (!Model.WorkItem.AssignedUserId.HasValue || Model.UserId == Model.WorkItem.AssignedUserId)
    {
        <div class="dropdown">
            <button class="btn btn-secondary btn-light dropdown-toggle btn-sm" type="button" id="handoff-@Model.WorkItem.Number" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.HandOffButtonText()
                <partial name="Dashboard/Items/_Priority" model="Model.WorkItem" />
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                @foreach (var act in Model.GetActivityOptions())
                {
                    <partial name="Dashboard/Items/_Activities" model="act" />
                }                
                @if (Model.WorkItem.IsPaused())
                {
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item no-propagation resume-work-item" data-number="@Model.WorkItem.Number">
                        I'll take this
                        <img src="~/img/loading.gif" style="display:none" />
                    </a>
                    <div class="success" style="display:none">
                        <i class="fas fa-check-circle ml-3" style="color:green"></i>
                        <span class="small pr-2">Updated successfully</span>
                    </div>
                    <i class="error fas fa-exclamation-triangle" style="color:red;display:none"></i>                    
                    <a href="#" class="dropdown-item no-propagation cancel-activity" data-number="@Model.WorkItem.Number">
                        Work canceled
                        <img src="~/img/loading.gif" style="display:none" />
                    </a>
                    <div class="success" style="display:none">
                        <i class="fas fa-check-circle ml-3" style="color:green"></i>
                        <span class="small pr-2">Updated successfully</span>
                    </div>
                    <i class="error fas fa-exclamation-triangle" style="color:red;display:none"></i>                    
                }                
                @if (Model.WorkItem.AssignedUserId.HasValue)
                {
                    <div class="dropdown-divider"></div>
                    @foreach (var reason in Model.Dropdowns.CloseReasons)
                    {
                        <a href="#" class="dropdown-item no-propagation close-item" data-number="@Model.WorkItem.Number" data-reason-id="@reason.Value">
                            Closed: @reason.Text
                            <img src="~/img/loading.gif" style="display:none" />
                        </a>
                        <div class="success" style="display:none">
                            <i class="fas fa-check-circle ml-3" style="color:green"></i>
                            <span class="small pr-2">Updated successfully</span>
                        </div>
                        <i class="error fas fa-exclamation-triangle" style="color:red;display:none"></i>
                    }
                    <a href="#" class="dropdown-item no-propagation unassign-work-item" data-number="@Model.WorkItem.Number">
                        Remove Me
                        <img src="~/img/loading.gif" style="display:none" />
                    </a>
                    <div class="success" style="display:none">
                        <i class="fas fa-check-circle ml-3" style="color:green"></i>
                        <span class="small pr-2">Item removed</span>
                    </div>
                    <i class="error fas fa-exclamation-triangle" style="color:red;display:none"></i>
                }
                else
                {
                    if (Model.WorkItem.PriorityGroup == PriorityGroupOptions.Backlog)
                    {
                        <a href="#" class="dropdown-item no-propagation work-on-next" data-number="@Model.WorkItem.Number">
                            Work on Next
                            <img src="~/img/loading.gif" style="display:none" />
                        </a>
                        <div class="success" style="display:none">
                            <i class="fas fa-check-circle ml-3" style="color:green"></i>
                            <span class="small pr-2">Updated successfully</span>
                        </div>
                        <i class="error fas fa-exclamation-triangle" style="color:red;display:none"></i>
                    }
                    else if (Model.WorkItem.PriorityGroup == PriorityGroupOptions.WorkOnNext)
                    {
                        <a href="#" class="dropdown-item no-propagation remove-priority" data-number="@Model.WorkItem.Number">
                            Send to Backlog
                            <img src="~/img/loading.gif" style="display:none" />
                        </a>
                        <div class="success" style="display:none">
                            <i class="fas fa-check-circle ml-3" style="color:green"></i>
                            <span class="small pr-2">Updated successfully</span>
                        </div>
                        <i class="error fas fa-exclamation-triangle" style="color:red;display:none"></i>
                    }
                }
                @if (Model?.AssignToUsers?.Any() ?? false)
                {
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled no-propagation">assign to:</a>
                    foreach  (var userItem in Model.AssignToUsers)
                    {
                        <a class="dropdown-item no-propagation assign-to ml-3" data-number="@Model.WorkItem.Number" data-user-id="@userItem.Value">
                            @userItem.Text
                            <img src="~/img/loading.gif" style="display:none" />
                        </a>
                        <div class="success" style="display:none">
                            <i class="fas fa-check-circle ml-3" style="color:green"></i>
                            <span class="small pr-2">Assigned successfully</span>
                        </div>
                        <i class="error fas fa-exclamation-triangle" style="color:red;display:none"></i>
                    }
                }
            </div>
        </div>
    }
    else
    {
        <span>
            @Model.WorkItem.ActivityStatus()
            <partial name="Dashboard/Items/_Priority" model="Model.WorkItem" />
        </span>
    }
}
else
{
    <i class="@WorkItem.IconClosed" style="color:green"></i>
    <span class="ml-2">Closed: @Model.WorkItem.CloseReasonName</span>
}